<ng-template #buscarnit let-modal>
  <div class="modal-header">
    <h4 class="text-center">Digite NIT para buscar empresa</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
    <form class="validate-form" [formGroup]="nitForm" (ngSubmit)="onNit()">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>NIT</mat-label>
            <input matInput formControlName="NIT" [dropSpecialCharacters]="false" mask="0000-000000-000-0" maxlength="20"/>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="nitForm.get('NIT')?.hasError('required')">
              NIT es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="mt-2">
        <div style="text-align:center">
          <button mat-raised-button color="primary" [class.auth-spinner]="loading"
            class="auth-form-btn" [disabled]="loading || !nitForm.valid " type="submit">Buscar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/login_banner.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h4 class="text-center fw-light">Bienvenida/o al</h4>
            <h3 class="align-center">
              {{'Sistema Planilla Digital' | uppercase}}
              <span class="text-gold"></span>
            </h3>
            <hr class="mb-4">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <h4 class="login-title mt-2">Inicio de sesión</h4>
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Usuario(a)</mat-label>
                    <input matInput formControlName="username" />
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="authForm.get('username')?.hasError('required')">
                      Usuario(a) es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!--div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Sucursal</mat-label>
                    <mat-select placeholder="Sucursal" formControlName="sucursal">
                      <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.value">
                        {{sucursal.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="authForm.get('username')?.hasError('required')">
                      Usuario(a) es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div-->
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Clave</mat-label>
                    <input autocomplete="off" matInput [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="30">
                    <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                      Clave es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex justify-content-end align-items-center mb-3">
                <a class="txt1" routerLink="/authentication/forgot-user">¿Ha olvidado su usuario?</a><br>
              </div>
              <div class="d-flex justify-content-end align-items-center mb-3">
                <a class="txt1" routerLink="/authentication/forgot-password">¿Ha olvidado su contraseña?</a>
              </div>
              <hr>
  
              <div class="mt-2">
                <div style="text-align:center">
                  <button mat-raised-button color="primary" [class.auth-spinner]="loading"
                    class="auth-form-btn" [disabled]="loading || !authForm.valid " type="submit">Ingresar</button>
                </div>
              </div>
              <div class="row mt-2 text-center">
                <p class="auth-signup-text text-muted pb-0">
                  ¿Necesita una cuenta?
                  <a routerLink="/authentication/signup" class="sign-up-link">Registrarse</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
</div>
