<header>
  <nav class="navbar navbar-light dark" color="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><img width="250" src="/assets/images/logo.png" alt=""></span>
    </div>
  </nav>
</header>
<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-12 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h4 class="text-center fw-light">Bienvenida/o al</h4>
            <h3 class="align-center">
              {{'Sistema De Planilla Digital - EPlanilla' | uppercase}}
              <span class="text-gold"></span>
            </h3>
            <hr class="mb-4">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <h4 class="login-title mt-2">Registro de datos de empresas PGR</h4>
            <p class="text-center">Registre la información que se le pide en cada paso</p>
            <div class="row">
              <mat-stepper #stepper>
                <mat-step>
                  <ng-template matStepLabel>Introducción</ng-template>
                  <p>IMPORTANTE: En el proceso de creación del usuario será necesario que agregue las imágenes de los documentos que son requisitos para la creación del usuario.</p>
                  <p>Requerirá de información de la empresa como del representante legal </p>
                  <div>
                    <p>Datos que que serán necesarios</p>
                    <ol>
                      <li>Foto del NIT de la empresa (150%)</li>
                      <li>Foto del DUI de representante legal (150%)</li>
                    </ol>
                  </div>
                  <div>
                    <button class="btn btn-primary" mat-button matStepperNext>Siguiente</button>
                  </div>
                </mat-step>
                <mat-step [stepControl]="personaJuridicaFormGroup" errorMessage="Campos de la empresa obligatorios.">
                  <form [formGroup]="personaJuridicaFormGroup">
                    <ng-template matStepLabel>Datos de la empresa</ng-template>
                    <mat-card>
                      Colocar la información de la empresa
                    </mat-card>
                    <br>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>NIT</mat-label>
                          <input matInput placeholder="NIT" (blur)="findNIT()" formControlName="NIT" [dropSpecialCharacters]="false" mask="0000-000000-000-0" [showMaskTyped]="true" required>
                        </mat-form-field>
                      </div>
                    
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Nombre comercial</mat-label>
                          <input matInput placeholder="Nombre comercial" formControlName="NombreComercial" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Razón social</mat-label>
                          <input matInput placeholder="Razón social" formControlName="RazonSocial" required>
                        </mat-form-field>
                      </div>
                   
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Código PGR</mat-label>
                          <input matInput placeholder="NRC" mask="000000" [showMaskTyped]="false" formControlName="codigoPGR">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Tipo de Empresa</mat-label>
                          <mat-select formControlName="TipoEmpresa" required placeholder="Tipo de Empresa">
                              <mat-option value="R">Privada</mat-option>
                              <mat-option value="U">Pública</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Imagen del NIT</mat-label>
                          <input matInput formControlName="ImagenNIT"  placeholder="Imagen NIT" readonly>
                          <app-upload (onUploadFinished)=uploadFinishedNITEmp($event)></app-upload>
                        </mat-form-field>
                      </div>
                    </div>
                    <!--div class="row">
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Imagen del NRC</mat-label>
                          <input matInput formControlName="ImagenNRC"  placeholder="Imagen NRC" readonly>
                          <app-upload (onUploadFinished)=uploadFinishedNRCEmp($event)></app-upload>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Imagen de la escritura de propiedad</mat-label>
                          <input matInput formControlName="ImagenEscritura"  placeholder="Imagen Escritura" readonly>
                          <app-upload (onUploadFinished)=uploadFinishedEscrituraEmp($event)></app-upload>
                        </mat-form-field>
                      </div>
                    </div-->
                    <div class="row">
                      <div class="col-12 col-md-6">
                        
                      </div>
                      <div class="col-12 col-md-6">
                        
                      </div>
                    </div>
                    <div class="d-grid gap-2 d-md-block" *ngIf="!nitExiste">
                      <p>Continuar a datos del representante legal</p>
                      <button class="btn btn-primary" mat-button matStepperPrevious>Atras</button>
                      <button class="btn btn-primary" mat-button matStepperNext>Siguiente</button>
                    </div>
                    <div class="row mt-2 text-center" *ngIf="nitExiste">
                      <p class="auth-signup-text text-muted pb-0">
                        ¡Ya posee una cuenta!<br>
                        <a href="authentication/signin" class="sign-up-link">Inicia sesión o recupera tu usuario</a>
                      </p>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="personaNaturalFormGroup" errorMessage="Datos representante obligatorios.">
                  <form [formGroup]="personaNaturalFormGroup">
                    <ng-template matStepLabel>Datos del representante legal</ng-template>
                    <div class="row mt-4">
                      <div class="col-md-4 col-12">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Número de DUI</mat-label>
                          <input matInput (blur)="findDUI()" placeholder="Número de DUI" mask="00000000-0" [dropSpecialCharacters]="false" [showMaskTyped]="true" formControlName="CodigoNumeroDui">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Primer nombre</mat-label>
                          <input matInput placeholder="Nombres" formControlName="Nombre1"
                                 required>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Segundo nombre</mat-label>
                          <input matInput placeholder="Nombres" formControlName="Nombre2"
                                 >
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Tercer nombre</mat-label>
                          <input matInput placeholder="Nombres" formControlName="Nombre3"
                                 >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Primer apellido</mat-label>
                          <input matInput placeholder="Apellidos" formControlName="Apellido1"
                                 required>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Segundo apellido</mat-label>
                          <input matInput placeholder="Apellidos" formControlName="Apellido2"
                                 >
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Apellido de casada</mat-label>
                          <input matInput placeholder="Apellidos" formControlName="ApellidoCasada"
                                 >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Fecha de nacimiento</mat-label>
                          <input matInput [matDatepicker]="picker" [max]="a" formControlName="FechaNacimiento">
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                  
                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Sexo</mat-label>
                          <mat-select placeholder="Sexo" formControlName="Sexo">
                            <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                              {{sexo.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-12 col-md-4">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Correo electrónico institucional</mat-label>
                          <input matInput placeholder="Correo electrónico institucional" formControlName="MedioContactoPersona">
                        </mat-form-field>
                      </div>
                      <input type="hidden" formControlName="ConDui">
                      <input type="hidden" formControlName="CodigoTipoMedioContacto">
                    </div>
                    <div>
                      <button class="btn btn-primary" mat-button matStepperPrevious>Atrás</button>
                      <button class="btn btn-primary" mat-button matStepperNext>Siguiente</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="userFormGroup" errorMessage="Datos de inicio se sesión">
                  <form [formGroup]="userFormGroup">
                    <ng-template matStepLabel>Datos para inicio de sesión</ng-template>
                    <mat-card>
                      Colocar la información que utilizará para iniciar sesión
                    </mat-card>
                    <p>Ingrese datos solicitados, la clave debe ser segura</p>
                    <br>
                    <mat-card>
                      <b>Una clave segura debe contener:</b>
                      <br>
                      <mat-card-content>
                        <ol>
                          <li>Al menos 8 caracteres de longitud, máximo 12 caracteres</li>
                          <li>Al menos una letra minúscula</li>
                          <li>Al menos una letra mayúscula</li>
                          <li>Al menos un número</li>
                          <li>Al menos un caracter especial: *[$@$!%*?&]</li>
                        </ol>
                      </mat-card-content>  
                      <br>  
                    </mat-card>
                    <br>
                    <div class="row">
                      <div class="col">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Documento de Único de Identidad</mat-label>
                          <input matInput placeholder="Número de DUI, Este será tu usuario" formControlName="Username"
                                 required readonly>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Clave</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" maxlength="12">
                          <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </a>
                          <mat-error *ngIf="userFormGroup.get('Password')?.hasError('required')">
                            Ingrese una clave
                          </mat-error>
                          <mat-error *ngIf="userFormGroup.get('Password')?.hasError('passwordStrength')">
                            {{userFormGroup.get('Password')?.errors['passwordStrength']}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Confirme la Clave de su Usuario</mat-label>
                          <input matInput placeholder="Confirme Clave" [type]="hider ? 'password' : 'text'" formControlName="ConfirmPassword" maxlength="12" required>
                          <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hider = !hider"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hider">
                            <mat-icon>{{hider ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </a>
                          <mat-error *ngIf="userFormGroup.controls['ConfirmPassword'].pristine || userFormGroup.controls['ConfirmPassword'].errors?.MatchPassword">La clave confirmada no es igual</mat-error>
                      </mat-form-field>
                      </div>
                    </div>
                    <div>
                      <button class="btn btn-primary" mat-button matStepperPrevious>Atrás</button>
                      <button class="btn btn-primary" mat-button matStepperNext>Siguiente</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="fourthFormGroup">
                  <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Términos y condiciones</ng-template>
                    <mat-card>
                      Aqui va el texto de los términos y condiciones
                      que se deberá redactar
                    </mat-card>
                    <mat-card style="text-align: justify;">
                      <b>Aceptación de la autorización.</b> Declaro haber leído, entendido y aceptado la totalidad de los términos y condiciones contenidos en el presente documento, sobre la autorización de notificación de todos los actos administrativos que realice la PGR y me comprometo a estar pendiente de cualquier notificación que sea realizada.
                      <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="aceptado" value="1" (change)="checkValue($event)">Acepto los términos y condiciones</mat-checkbox>
                      </section>
                    </mat-card>

                    <div>
                      <button class="btn btn-primary" mat-button matStepperPrevious>Atras</button>
                      <button class="btn btn-primary" *ngIf="accepted" mat-button matStepperNext>Siguiente</button>                    
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <h3>Todo Listo</h3>
                  <p>Pasos completados por favor hacer clic sobre "Guardar" para enviar los datos a la PGR<br>
                    para continuar con el proceso de registro
                  </p>
                  <div>
                    <button class="btn btn-primary" mat-button matStepperPrevious>Atras</button>
                    <button class="btn btn-primary" mat-button (click)="onSubmit()">Guardar</button>
                  </div>
                </mat-step>
              </mat-stepper>
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/signin" class="txt1">
                    Regresar al inicio se sesión
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <!--footer class="dark">
      <p class="text-center my-4">Procuraduría General de la República</p>
    </footer-->
</div>
