.auth-wrapper{
    width: 85%;
}
mat-datepicker-toggle{
    float: right;
    margin-top: -2.5rem;
}
app-upload{
    float: right;
    margin-top: -2.5rem;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
.navbar-brand{
    height: 100px;
}
.mat-step-text-label{
    font-family: 'poppins-regular' !important;
    font-weight: default;
}
p, h4, a, button{
    font-family: 'poppins-regular';
    font-weight: default;
}
.mat-form-field{
    font-family: 'poppins-regular' !important;
}
ol{
    font-family: 'poppins-regular';
    font-weight: default; 
}
mat-card{
    font-family: 'poppins-regular'; 
}
.auth-container{
    position: relative;
}

ol{
    list-style-type: auto !important;
}
ul{
    list-style-type: auto !important;
}

.mat-card.scrollable-content{
    display: flex;
    flex-direction: column;
}

.mat-card.scrollable-content mat-card-content {
    overflow-y: auto;
}
.mat-card.scrollable-content mat-card-title {
    display: block;
}
.mat-tab-group {
    height: 400px;
}