<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/login_banner.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section" *ngIf="!isSended">
          <div class="auth-wrapper">
            <h2 class="welcome-msg"> Recuperar Contraseña </h2>
            
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                 
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                      Ingrese una direccion de correo válida
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                 
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>NIT</mat-label>
                    <input matInput formControlName="nit" required mask="0000-000000-000-0" [dropSpecialCharacters]="false" [showMaskTyped]="false">
                    <mat-icon matSuffix>card_membership</mat-icon>
                    <mat-error *ngIf="authForm.get('nit').hasError('required') || authForm.get('nit').touched">
                      Ingrese el NIT de la empresa
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="container-auth-form-btn mt-5">
                <button mat-flat-button color="primary" [class.auth-spinner]="loading" class="auth-form-btn" [disabled]="!authForm.valid || loading" type="submit">
                  Buscar usuario
                </button>
              </div>
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/signin" class="txt1">
                    Ingresar
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
  
        <div class="form-section" *ngIf="isSended">
          <div class="auth-wrapper">
            <h2 class="welcome-msg"> {{phrase}} </h2>
  
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button (click)="onSubmit()" color="primary"  class="auth-form-btn" type="button">
                Regresar
              </button>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  