<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/login_banner.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section" *ngIf="!hideForm">
          <div class="auth-wrapper">
            <div *ngIf="!error" class="alert alert-success">Actualice su contraseña</div>
            <div *ngIf="error" class="alert alert-danger">Datos no encontrados</div>
            <h4 class="login-title mt-2">Recuperacion de clave</h4>
            <form class="validate-form" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <input type="hidden" formControlName="CodigoEmpresa">
                <input type="hidden" formControlName="Username">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nueva Clave</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
                        <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                        <mat-error *ngIf="recoverForm.get('Password').hasError('required')">
                          Clave es requerida
                        </mat-error>
                        <mat-error *ngIf="recoverForm.get('Password')?.hasError('passwordStrength')">
                          {{recoverForm.get('Password')?.errors['passwordStrength']}}
                      </mat-error>
                      </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirmar Clave</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="ConfirmPassword">
                    <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="recoverForm.get('ConfirmPassword').hasError('required')">
                      Clave es requerida
                    </mat-error>
                    <mat-error *ngIf="recoverForm.get('ConfirmPassword').hasError('mismatchValue')">
                      Claves no coinciden
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            
              <button mat-raised-button color="primary" [class.auth-spinner]="loading"
              class="auth-form-btn" [disabled]="!recoverForm.valid " type="submit">Recuperar</button>
         
          
            </form>
          </div>
        </div>
        <div class="form-section" *ngIf="hideForm">
          <div class="auth-wrapper">
            <h2 class="welcome-msg"> {{phrase}} </h2>
  
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button (click)="redirect()" color="primary"  class="auth-form-btn" type="button">
                Regresar
              </button>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  