<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/login_banner.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
          
            
            
            <h4 class="login-title mt-2">Recuperacion de clave</h4>
            <form class="validate-form" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nueva Clave</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                        <mat-error *ngIf="recoverForm.get('password').hasError('required')">
                          Clave es requerida
                        </mat-error>
                      </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirmar Clave</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="cpassword">
                    <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="recoverForm.get('cpassword').hasError('required')">
                      Clave es requerida
                    </mat-error>
                    <mat-error *ngIf="recoverForm.get('cpassword').hasError('mismatchValue')">
                        Claves no coinciden
                        </mat-error>
                  </mat-form-field>
                </div>
              </div>
            
              <button mat-raised-button color="primary"
              class="auth-form-btn" [disabled]="!recoverForm.valid " type="submit">Recuperar</button>
         
          
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  