<section class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Actualizar la planilla N°: {{planilla?.noMandamiento}}</h2>
            </div>
            <div class="col-5">
                <div *ngIf="isSuccess" class="alert alert-success">{{message}}</div>
                <div *ngIf="isError" class="alert alert-error">{{message}}</div>
            </div>
        </div>
            <form [formGroup]="planillaFormGroup">
                <input readonly type="hidden" formControlName="CodigoEstado">
                <input readonly type="hidden" formControlName="CodigoPagaduria">
                <input readonly type="hidden" formControlName="CodigoEmpresa">

             <div class="row mt-2">
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>N° de planilla</mat-label>
                        <input matInput type="text" readonly formControlName="NoMandamiento">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Periodo</mat-label>
                        <input matInput formControlName="Periodo">
                        
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Tipo de cuota</mat-label>
                        <mat-select formControlName="CodigoTipoCuota">
                            <mat-option selected></mat-option>
                            <mat-option *ngFor="let tipo of tipoCuotas" [value]="tipo.value">{{ tipo.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="Observacion"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button (click)="onSubmit()" class="btn btn-primary"><i class="pi pi-save" ></i> Actualizar planilla</button>
                </div>
            </div>
        </form>
            
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p-table [value]="empleados" dataKey="id" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '100%'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>DUI</th>
                            <th>Nombres demandado</th>
                            <th>Apellidos demandado</th>
                            <th>Nombres demandante</th>
                            <th>Apellidos demandante</th>
                            <th>Monto cuota</th>
                            <th>Número de beneficiarios</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-empleado>
                        <tr>
                            <td>{{empleado.duIdemandado}}</td>
                            <td>{{empleado.nombresDemandado}}</td>
                            <td>{{empleado.apellidosDemandado}}</td>
                            <td>{{empleado.nombresDemandante}}</td>
                            <td>{{empleado.apellidosDemandante}}</td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="empleado.monto">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        ${{empleado.monto}}
                                    </ng-template>
                                </p-cellEditor>
                               
                            <td>{{empleado.noBeneficiarios}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>
