<ng-template #agregarEmpleado let-modal>
    <div class="modal-header modal-lg">
      <h4 class="text-center">Agregar empleado</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form class="validate-form" [formGroup]="empleadoForm" (ngSubmit)="onSubmitEmpleado()">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>DUI</mat-label>
              <input type="hidden" formControlName="IdDetalle">
              <input type="hidden" formControlName="IdEncabezado">
              <input matInput formControlName="DUIDemandado" autocomplete="off" [dropSpecialCharacters]="false" mask="00000000-0" maxlength="10"/>
              <mat-error *ngIf="empleadoForm.get('DUIDemandado')?.hasError('required')">
                El DUI en requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <button mat-raised-button color="primary" [class.auth-spinner]="loadingDUI"
              class="auth-form-btn" [disabled]="loadingDUI" (click)="buscarDui()" type="button">Validar DUI</button>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Codigo expediente electrónico</mat-label>
                <input [readonly]="!hasExpedient" matInput formControlName="CodigoExpediente" autocomplete="off" pKeyFilter="int" />
                <mat-error *ngIf="empleadoForm.get('CodigoExpediente')?.hasError('required')">
                  El código de expediente es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Número expediente físico</mat-label>
                  <input [readonly]="!hasExpedient" matInput formControlName="NoExpediente" autocomplete="off"  />
                  <mat-error *ngIf="empleadoForm.get('NoExpediente')?.hasError('required')">
                    El número de expediente es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Número tarjeta física</mat-label>
                  <input [readonly]="!hasExpedient" matInput formControlName="NoTarjeta" autocomplete="off"/>
                  <mat-error *ngIf="empleadoForm.get('NoTarjeta')?.hasError('required')">
                    El número de tarjeta física es requerido
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombres demandado</mat-label>
                    <input [readonly]="!hasExpedient" matInput formControlName="NombresDemandado" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('NombresDemandado')?.hasError('required')">
                      Nombres del demandado son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos demandado</mat-label>
                    <input [readonly]="!hasExpedient" matInput formControlName="ApellidosDemandado" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('ApellidosDemandado')?.hasError('required')">
                        Los apellidos del demandado son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombres demandante</mat-label>
                    <input [readonly]="!hasExpedient" matInput formControlName="NombresDemandante" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('NombresDemandante')?.hasError('required')">
                       Los nombres del demandante son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellido demandante</mat-label>
                    <input [readonly]="!hasExpedient" matInput formControlName="ApellidosDemandante" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('ApellidosDemandante')?.hasError('required')">
                      El apellido del demandante es requerido
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Monto de la cuota</mat-label>
                    <input [readonly]="!hasExpedient" [disableControl]="!hasExpedient" matInput pKeyFilter="money" formControlName="Monto" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('Monto')?.hasError('required')">
                       El monto es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>No Beneficiarios</mat-label>
                    <input [readonly]="!hasExpedient" [disableControl]="hasExpedientl" matInput pKeyFilter="int" formControlName="NoBeneficiarios" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('NoBeneficiarios')?.hasError('required')">
                      El número de beneficiarios es requerido
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Adjunte orden de descuento (.pdf,.png,.jpg)</mat-label>
                    <input [readonly]="hasExpedient" [disableControl]="hasExpedient" matInput formControlName="OrdenDescuento"  placeholder="Adjunte la orden de descuento" readonly>
                    <app-upload (onUploadFinished)=uploadFinishedOrdenDescuento($event)></app-upload>
                  </mat-form-field>
            </div>
        </div>
        <div class="mt-2">
          <div style="text-align:center">
            <button mat-raised-button color="primary" [class.auth-spinner]="loading"
              class="auth-form-btn" [disabled]="loading || !empleadoForm.valid " type="submit">Registrar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
</ng-template>
<ng-template #listaEmpleados let-empleados>
    <div class="modal-header modal-lg">
        <h4 class="text-center">Seleccionar empleado</h4>
        <button class="close" aria-label="close" type="button" (click)="empleados.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
        <p-table [value]="empleadosPre"  styleClass="p-datatable-striped" [tableStyle]="{'min-width': '100%'}"
                    [paginator]="true" [rows]="5" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código expediente electrónico</th>
                            <th>Número expediente físico</th>
                            <th>N° tarjeta física</th>
                            <th pSortableColumn="duIdemandado">DUI <p-sortIcon field="duIdemandado"></p-sortIcon></th>
                            <th pSortableColumn="nombresDemandado">Nombres demandado <p-sortIcon field="nombresDemandado"></p-sortIcon></th>
                            <th pSortableColumn="apellidosDemandado">Apellidos demandado <p-sortIcon field="apellidosDemandado"></p-sortIcon></th>
                            <th>Nombres demandante</th>
                            <th>Apellidos demandante</th>
                            <th pSortableColumn="monto">Monto cuota <p-sortIcon field="monto"></p-sortIcon></th>
                            <th style="width:115px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-empleado>
                        <tr >
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" style="width: 75%;"  [(ngModel)]="empleado.codigoExpediente">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.codigoExpediente}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" style="width: 75%;"  [(ngModel)]="empleado.noExpediente">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.noExpediente}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" style="width: 80%;" [(ngModel)]="empleado.nTarjeta">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.nTarjeta}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText [dropSpecialCharacters]="false" mask="00000000-0" maxlength="10" type="text" [(ngModel)]="empleado.duiPersonaNatural">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.duiPersonaNatural}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="empleado.nombresPersonaNatural">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.nombresPersonaNatural}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="empleado.apellidosPersonaNatural">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.apellidosPersonaNatural}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="empleado.nombresPersonaE">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.nombresPersonaE}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="empleado.apellidosPersonaE">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.apellidosPersonaE}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="td">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText pKeyFilter="money" style="width: 80%;"  [(ngModel)]="empleado.montoCR">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{empleado.montoCR | currency: 'USD'}}
                                    </ng-template>
                                </p-cellEditor>
                            
                            
                            <td>
                                <button pButton pRipple type="button" icon="pi pi-check" (click)="AgregarAPlanilla(empleado)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            </td>
                        </tr>
                    </ng-template>
        </p-table>
    </div>
</ng-template>
<section class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <p-toast></p-toast>
                <h2>Actualizar la planilla N°: {{planilla?.noMandamiento}}</h2>
                <p>
                    <strong>Empresa:</strong> {{data.NombreEmpresa}}<br>
                    <strong>NIT:</strong> {{data.NIT}}<br>
                    <strong>Codigo de empresa EPlanilla:</strong> {{data.CodigoEmpresa}}<br>
                    <strong>Codigo de empresa PGR:</strong> {{data.CodigoPGR}}
                </p>
            </div>
            <div class="col-5">
                <div *ngIf="isSuccess" class="alert alert-success">{{message}}</div>
                <div *ngIf="isError" class="alert alert-error">{{message}}</div>
            </div>
        </div>
            <form [formGroup]="planillaFormGroup">
                <input readonly type="hidden" formControlName="IdEncabezado">
                <input readonly type="hidden" formControlName="CodigoEstado">
                <input readonly type="hidden" formControlName="CodigoPagaduria">
                <input readonly type="hidden" formControlName="CodigoEmpresa">

             <div class="row mt-2">
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>N° de planilla</mat-label>
                        <input matInput type="text" readonly formControlName="NoMandamiento">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Periodo</mat-label>
                        <input matInput readonly formControlName="Periodo">
                        
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Tipo de cuota</mat-label>
                        <mat-select formControlName="CodigoTipoCuota">
                            <mat-option selected></mat-option>
                            <mat-option *ngFor="let tipo of tipoCuotas" [value]="tipo.value">{{ tipo.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Monto total</mat-label>
                        <input matInput readonly formControlName="Monto">
                        
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="Observacion"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <button pButton pRipple (click)="onSubmit()" class="primary" icon="pi pi-save" label="Actualizar planilla"></button> | <button pButton icon="pi pi-plus" pRipple type="button" label="Nuevo empleado" (click)="crearNuevo(agregarEmpleado)"></button>
                </div>
            </div>
        </form>
            
        
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                
            </div>
            <div class="col-12">
                <div class="my-4" id="container-table" style="height: 500px; overflow-y: auto;">
                    <p-table #dt [value]="empleados" (onEdit)="onEditInit($event)" (onEditComplete)="onEditComplete($event)" dataKey="idDetalle" editMode="row" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '100%'}"
                    [globalFilterFields]="['codigoExpediente', 'noTarjeta','duIdemandado','nombresDemandado','nombresDemandante','apellidosDemandado','apellidosDemandante']" [paginator]="false" [rows]="5" >
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i 
                                class="pi pi-search" 
                                style="margin:4px 4px 0 0"> 
                            </i>
                            <input 
                                type="text" 
                                pInputText size="50" 
                                placeholder="Digite el término a buscar"
                                (input)=
                "dt.filterGlobal($any($event.target).value, 'contains')" 
                                style="width:auto" />
                        </div>
                    </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>N°</th>
                                <th style="width: 120px;" pSortableColumn="duIdemandado">DUI <p-sortIcon field="duIdemandado"></p-sortIcon></th>
                                <th pSortableColumn="apellidosDemandado">Apellidos demandado <p-sortIcon field="apellidosDemandado"></p-sortIcon></th>
                                <th pSortableColumn="nombresDemandado">Nombres demandado <p-sortIcon field="nombresDemandado"></p-sortIcon></th>
                                <th>Apellidos demandante</th>
                                <th>Nombres demandante</th>
                                <th>Código exp. electrónico</th>
                                <th style="width: 150px;">Número exp. físico</th>
                                <th pSortableColumn="monto">Monto cuota <p-sortIcon field="monto"></p-sortIcon></th>
                                <th>Beneficiarios</th>
                                <th style="width:115px"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-empleado let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="empleado">
                                <td>{{ ri+1}}</td>
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText [dropSpecialCharacters]="false" mask="00000000-0" maxlength="10" type="text" [(ngModel)]="empleado.duIdemandado">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.duIdemandado}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="empleado.apellidosDemandado">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.apellidosDemandado}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="empleado.nombresDemandado">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.nombresDemandado}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="empleado.apellidosDemandante">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.apellidosDemandante}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="empleado.nombresDemandante">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.nombresDemandante}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>


                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" style="width: 75%;"  [(ngModel)]="empleado.codigoExpediente">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.codigoExpediente}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" style="width: 75%;"  [(ngModel)]="empleado.noExpediente">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.noExpediente}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                
                                
                                
                                
                                
                                <td class="td" [pEditableColumn]="empleado">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText pKeyFilter="money" style="width: 80%;"  [(ngModel)]="empleado.monto">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.monto | currency: 'USD'}}
                                        </ng-template>
                                    </p-cellEditor>
                                
                                <td class="td">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText pKeyFilter="int" style="width: 50%;"  [(ngModel)]="empleado.noBeneficiarios">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{empleado.noBeneficiarios}}
                                            <!--a class="ver-detalles" href="javascript:void(0)" (click)="verdetalle(empleado)">Ver detalles</a-->
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <button *ngIf="!editing" pButton pRipple type="button"  icon="pi pi-pencil" (click)="onRowEditInit(empleado,agregarEmpleado)" class="p-button-rounded p-button-text"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(empleado)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(empleado, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                                    <button *ngIf="planilla.codigoEstado == 1 && !editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" (click)="onRowDelete(empleado.idDetalle, planilla.idEncabezado)" class="p-button-rounded p-button-text p-button-danger"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</section>
