<section class="content">
  <p-toast></p-toast>
    <div class="container-fluid">
      <p-panel>
        <div class="row">
          <div class="col-12">
              <h4>Editar información de la empresa o institución: <strong>{{ persona.nombreComercial }}</strong></h4>
          </div>
      </div>
      <div class="row justify-content-center mt-4">
          <div class="col-5">
            <div *ngIf="isSuccess" class="alert alert-success">Cambios realizados con éxito</div>
          </div>
          <div class="col-12">
              <form [formGroup]="editFormGroup">
                  <mat-card>
                      <mat-card-header><h3>Datos de la empresa o institución</h3></mat-card-header>
                      <mat-card-content>
                          <div class="row">
                            <div class="col-12 col-md-2">
                              <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Tipo de Documento</mat-label>
                                <input type="hidden" formControlName="Usuario">
                                <mat-select formControlName="TipoDocumento" (selectionChange)="onChangeS($event)">
                                  <mat-option value="I">NIT</mat-option>
                                  <mat-option value="D">DUI</mat-option>
                                  <mat-option value="P">Pasaporte</mat-option>
                                </mat-select>
                                <mat-error *ngIf="editFormGroup.get('TipoDocumento')?.hasError('required')">El documento es requerido</mat-error>
                              </mat-form-field>
                            </div>
                              <div class="col-12 col-md-5">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>{{eldocumento}}</mat-label>
                                  <input matInput placeholder="Documento" formControlName="NIT" [dropSpecialCharacters]="false" [mask]="nitMask" [showMaskTyped]="false" required>
                                </mat-form-field>
                              </div>
                            
                              <div class="col-12 col-md-5">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Nombre comercial</mat-label>
                                  <input matInput placeholder="Nombre comercial" formControlName="NombreComercial" required>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Razón social</mat-label>
                                  <input matInput placeholder="Razón social" formControlName="RazonSocial" required>
                                  </mat-form-field>
                              </div>
                          
                              <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Código PGR</mat-label>
                                  <input matInput placeholder="NRC" pKeyFilter="int" maxlength="20" formControlName="codigoPGR">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Tipo de Empresa</mat-label>
                                  <mat-select formControlName="TipoEmpresa" required placeholder="Tipo de Empresa">
                                      <mat-option value="R">Privada</mat-option>
                                      <mat-option value="U">Pública</mat-option>
                                  </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Imagen del documento</mat-label>
                                  <input matInput formControlName="ImagenNIT"  placeholder="Imagen NIT" readonly>
                                  <app-upload (onUploadFinished)=uploadFinishedNITEmp($event)></app-upload>
                                  <a href="javascript:void(0)" (click)="descargarArchivo(persona.imagenNIT)">Ver documento</a>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Correo electrónico empresarial</mat-label>
                                    <input matInput placeholder="Correo electrónico institucional" formControlName="MedioContactoPersona">
                                  </mat-form-field>
                              </div>
                              <div class="col-12 col-md-6">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Procuraduría donde realiza el pago</mat-label>
                                  <mat-select placeholder="Seleccione una procuraduria" formControlName="Pagaduria">
                                    <mat-option *ngFor="let unidad of unidades" [value]="unidad.codigoPagaduria.trim()">
                                      {{unidad.pagaduria.substring(28)}}
                                    </mat-option>
                                  </mat-select>
                                    <mat-error *ngIf="editFormGroup.get('Pagaduria')?.hasError('required')">
                                      Seleccione una pagaduría
                                  </mat-error>
                                </mat-form-field>
                              </div>
  
                          </div>
                      </mat-card-content>
                  </mat-card>
                  <mat-card class="mt-4">
                      <mat-card-header><h3>Datos del representante legal</h3></mat-card-header>
                      <mat-card-content>
                            <div class="row mt-4">
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Primer nombre</mat-label>
                                  <input matInput placeholder="Nombres" formControlName="Nombre1"
                                         required>
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Segundo nombre</mat-label>
                                  <input matInput placeholder="Nombres" formControlName="Nombre2"
                                         >
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Tercer nombre</mat-label>
                                  <input matInput placeholder="Nombres" formControlName="Nombre3"
                                         >
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Primer apellido</mat-label>
                                  <input matInput placeholder="Apellidos" formControlName="Apellido1"
                                         required>
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Segundo apellido</mat-label>
                                  <input matInput placeholder="Apellidos" formControlName="Apellido2"
                                         >
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Apellido de casada</mat-label>
                                  <input matInput placeholder="Apellidos" formControlName="ApellidoCasada"
                                         >
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 col-12">
                                  <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Número de DUI</mat-label>
                                    <input matInput placeholder="Número de DUI" mask="00000000-0" [dropSpecialCharacters]="false" [showMaskTyped]="true" formControlName="CodigoNumeroDui">
                                  </mat-form-field>
                              </div>
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Fecha de nacimiento</mat-label>
                                  <input matInput [matDatepicker]="picker" [max]="a" formControlName="FechaNacimiento">
                                  <mat-hint>DD/MM/YYYY</mat-hint>
                                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                          
                              <div class="col-12 col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Sexo</mat-label>
                                  <mat-select placeholder="Sexo" formControlName="Sexo">
                                    <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                                      {{sexo.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
        
                              
                              <input type="hidden" formControlName="ConDui">
                              
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-12">
                                <button class="p-button-raised p-button-rounded p-button-outlined p-button-success" pButton (click)="onSubmit()">Guardar</button> | 
                                <button routerLink="/dashboard" class="p-button-raised p-button-rounded p-button-outlined p-button-info" pButton >Atrás</button>
                              </div>
                            </div>
                      </mat-card-content>
                  </mat-card>
              </form>
          </div>
        </div>
      </p-panel>
    </div>
</section>

