#sello_p{
    position: absolute;
    margin-top: -2.7em;
    margin-left: 2.9rem;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
.panel{
    z-index: 1;
}

#elsello{
    position: absolute;
    z-index: 0;
    margin-top: 16rem;
    width: 100%;
    @media(max-width: 667px){
        margin-top: 30rem;
    }
}

#sellito{
    @media(min-width: 668px){
        width: 200px;
    }
}

mat-datepicker-toggle{
    float: right;
    margin-top: -2.5rem;
}

.full-width{
    width: 100%;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}