<ng-template #buscarnit let-modal>
    <div class="modal-header">
      <h4 class="text-center">información de usuario</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form class="validate-form">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            
          </div>
        </div>
        <div class="mt-2">
          <div style="text-align:center">
            <button color="btn btn-primary" class="auth-form-btn" type="button">Cerrar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
<section class="content">
    <div class="container-fluid">
        <p-panel>
          <div class="row">
            <div class="col-12">
                <h3 class="text-center">Bitácora de movimientos de personas jurídicas</h3>
            </div>
          </div>
          <div class="row mt-4">
              <div class="col-12">
                <p-table #myTab [value]="bitacoras" [paginator]="true" [loading]="loading" [rows]="10" [lazy]="true" (onLazyLoad)="buscarBitacoras($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 25, 50, 100]"
                [globalFilterFields]="['nit','codigoPGR']">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                      <i 
                          class="pi pi-search" 
                          style="margin:4px 4px 0 0"> 
                      </i>
                      <input 
                          type="text" 
                          pInputText
                          placeholder="Término a buscar"
                          (input)=
          "myTab.filterGlobal($any($event.target).value, 'contains')" 
                          style="width:auto" />
                  </div>
              </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>N°</th>
                      <th>Codigo de la persona</th>
                      <th>Codigo en PGR</th>
                      <th>Nombre comercial</th>
                      <th>NIT</th>
                      <th>Razón social</th>
                      <th>Fecha de registro</th>
                      <th>Acción</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-usuario let-i="rowIndex">
                    <tr>
                      <td>{{ i+1 }}</td>
                      <td>{{ usuario.codigoPersona }}</td>
                      <td>{{ usuario.codigoPGR }}</td>
                      <td>{{ usuario.nombreComercial }}</td>
                      <td>{{ usuario.nit }}</td>
                      <td>{{ usuario.razonSocial }}</td>
                      <td>{{ usuario.fechaInsercion | date }}</td>
                      <td>{{ usuario.observacion == null ? 'Registro de empresa' : usuario.observacion }}</td>
                  </tr>
                  </ng-template>
                </p-table>
              </div>
          </div>
        </p-panel>
    </div>
</section>