<section class="content">
    <ng-template #modalComprobante let-modal>
        <div class="modal-header ">
            <h4 class="text-center">Mandamiento de pago</h4>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body" id="contenido">
            <div class="row" >
                <div class="col-2">
                    <img src="./assets/images/logosv.png" width="100" alt="sv">
                </div>
                <div class="col-8">
                    <h2 class="text-center">Mandamiento de pago N°: {{ mandamiento.idControl }}</h2>
                    <p class="text-center"><strong>Planilla N°: </strong>{{mandamiento.noMandamiento}}</p>
                    <p class="text-center"><strong>Fecha generación: </strong> {{mandamiento.fechaHora | date:'dd/MM/YYYY h:mm:ss a'}}</p>
                    <p class="text-center"><strong>Tipo de cuota: </strong>{{buscarTipoCuota(mandamiento.codigoTipoCuota)}}</p>
                </div>
                <div class="col-2 float-right" style="text-align: right;">
                    <img src="./assets/images/logopgr.png" width="100" alt="pgr">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6"><h6 class="text-center"><strong>Nombre contribuyente</strong>: {{ mandamiento.nombreComercial }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>NIT</strong>: {{ mandamiento.nit }}</h6></div>
            </div>
            <div class="row">
                <div class="col-6"><h6 class="text-center"><strong>Monto: </strong> {{ mandamiento.monto | currency:'USD' }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>Procuraduría: </strong> {{ mandamiento.nombrePA }}</h6></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style='text-align: center;' class="barcode-container">
                        <app-bar-code [barcode]="barcode"></app-bar-code>
                    </div>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>NPE: </strong>{{  npe }}</h6>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>Concepto: </strong>{{  mandamiento.descripcion }}</h6>
                </div>
            </div>
            <hr>
            <div class="row" >
                <div class="col-2">
                    <img src="./assets/images/logosv.png" width="100" alt="sv">
                </div>
                <div class="col-8">
                    <h2 class="text-center">Mandamiento de pago N°: {{ mandamiento.idControl }}</h2>
                    <p class="text-center"><strong>Planilla N°: </strong>{{mandamiento.noMandamiento}}</p>
                    <p class="text-center"><strong>Fecha generación: </strong> {{mandamiento.fechaHora | date:'dd/MM/YYYY h:mm:ss a'}}</p>
                    <p class="text-center"><strong>Tipo de cuota: </strong>{{buscarTipoCuota(mandamiento.codigoTipoCuota)}}</p>
                </div>
                <div class="col-2 float-right" style="text-align: right;">
                    <img src="./assets/images/logopgr.png" width="100" alt="pgr">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6"><h6 class="text-center"><strong>Nombre contribuyente</strong>: {{ mandamiento.nombreComercial }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>NIT</strong>: {{ mandamiento.nit }}</h6></div>
            </div>
            <div class="row">
                <div class="col-6"><h6 class="text-center"><strong>Monto: </strong> {{ mandamiento.monto | currency:'USD' }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>Procuraduría: </strong> {{ mandamiento.nombrePA }}</h6></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style='text-align: center;' class="barcode-container">
                        <app-bar-code [barcode]="barcode"></app-bar-code>
                    </div>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>NPE: </strong>{{  npe }}</h6>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>Concepto: </strong>{{  mandamiento.descripcion }}</h6>
                </div>
            </div>
            <hr>
        </div>
        <div class="modal-footer">
            <button label="Imprimir" icon="pi pi-print" pButton pRipple type="button" class="p-button-primary mx-1" (click)="imprimirPDF()"></button>
        </div>
    </ng-template>
    <ng-template #modalVerDocumento let-ver>
        <div class="modal-header">
            <h4 class="text-center">Información de pago</h4>
            <button class="close" aria-label="close" type="button" (click)="ver.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <h5>N° de comprobante: {{verC.noComprobantePago}}</h5>
                </div>
                <div class="col-12">
                    <h5>Institución financiera: {{buscarBanco(verC.codInstitucionFinanciera)}} </h5>
                </div>
                <div class="col-12">
                    <app-files-upload-dir [Ocultar]="true" [Directorio]="carpetaInstaciada" [actualFile]="verC.rutaImagenComprobante"
                        (onUploadFinished)=uploadFinished($event) (onDownload)="downloadURLFile()"></app-files-upload-dir>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #modalDocumento let-mDocumento>
        <div class="modal-header ">
            <h4 class="text-center">Subir documento bancario</h4>
            <button class="close" aria-label="close" type="button" (click)="mDocumento.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body">
            <form action="" [formGroup]="comprobanteForm" (ngSubmit)="onUploadDocument()">
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>N° comprobante de pago</mat-label>
                            <input matInput type="text" formControlName="NoComprobantePago">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Institución financiera</mat-label>
                            <mat-select formControlName="CodInstitucionFinanciera">
                                <mat-option *ngFor="let banco of bancos" [value]="banco.codInstucionFinanciera">{{ banco.nombreBanco }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-12">
                        <input type="hidden" formControlName="IdTabla">
                        <input type="hidden" formControlName="RutaDocumento">
                        <app-files-upload-dir [Directorio]="carpetaInstaciada" [actualFile]="elCodigoEstado == '3' ? LarutaImagenComprobante : ''"
                        (onUploadFinished)=uploadFinished($event) (onDownload)="downloadURLFile()"></app-files-upload-dir>
                    </div>
                    <div class="col-12 mt-2">
                        <button mat-raised-button color="primary" [class.auth-spinner]="loading"
          class="auth-form-btn" [disabled]="loading || !comprobanteForm.valid " type="submit">Subir documento</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #modalPresentacion let-mPresentacion>
        <div class="modal-header ">
            <h4 class="text-center">Presentar recibo de ingreso</h4>
            <button class="close" aria-label="close" type="button" (click)="mPresentacion.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body">
            <form action="" [formGroup]="reciboIngresoForm" (ngSubmit)="onReciboIngreso()">
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>N° de remesa</mat-label>
                            <input matInput pInputText pKeyFilter="int" type="text" autocomplete="off" formControlName="NumeroRemesaPresentada">
                            <input type="hidden" formControlName="CodigoUsuario">
                            <input type="hidden" formControlName="IdEncabezado">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Fecha de presentación</mat-label>
                            <input matInput [matDatepicker]="picker" [max]="a" formControlName="FechaRemesaPresentada">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                    <div class="col-12 mt-2">
                        <button mat-raised-button color="primary" [class.auth-spinner]="loading"
          class="auth-form-btn" [disabled]="loading || !reciboIngresoForm.valid " type="submit">Presentar recibo de ingreso</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #modalRecibo let-recibo>
        <div class="modal-header ">
            <h4 class="text-center">Recibo de ingreso</h4>
            <button class="close" aria-label="close" type="button" (click)="recibo.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body" id="contenido">
            <div class="recibo">
                <div class="row">
                    <div class="col-2">
                        <img src="./assets/images/logopgr.png" width="100" alt="sv">
                    </div>
                    <div class="col-8">
                        <h4 class="text-center">Procuraduría General de la República</h4>
                        <p class="text-center"><strong>{{mandamiento.nombrePA}}</strong></p>
                        <p class="text-center">Unidad de Control de Fondos de Terceros</p>
                    </div>
                    <div class="col-2">
                        <div class="position-relative">
                            <img src="./assets/images/sello.png" width="120" alt="sello">
                            <p class="lafechasello"><b>{{mandamiento.fechaHoy}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12"><p>&nbsp;</p></div>
                            <div class="col-12"><p>N° de control:</p></div>
                            <div class="col-12"><p>Empresa:</p></div>
                            <div class="col-12"><p>Nombre:</p></div>
                            <div class="col-12"><p>Valor en Letra:</p></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12"><p>{{mandamiento.nombreBanco}}</p></div>
                            <div class="col-12"><p>{{mandamiento.codigoPlanillaVentanilla}}</p></div>
                            <div class="col-12"><p>{{mandamiento.codigoPgr}}</p></div>
                            <div class="col-12"><p>{{mandamiento.nombreComercial}}</p></div>
                            <div class="col-12"><p>{{mandamiento.numeroLetra}}</p></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12"><p>Recibo de ingreso N°: {{mandamiento.numeroCorrelativoReciboIngreso}}</p></div>
                            <div class="col-12"><p>Fecha de generación: {{ mandamiento.fechaHoy }}</p></div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6"><p><strong>Por: US($):</strong></p></div>
                                    <div class="col-6"><p><strong class="text-right">{{ mandamiento.monto | currency: 'USD' }}</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center"><strong>Cargo en caja</strong></p>
                        <hr class="hr">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><p>Número de remesa: {{mandamiento.numeroRemesaPresentada}}</p></div>
                    <div class="col-6"><p>Fecha de remesa: {{mandamiento.fechaRemesaPresentada }}</p></div>
                    <div class="col-12"><p>Observaciones: {{mandamiento.observaciones}}</p></div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <p class="text-center colector">
                            COLECTOR ({{data.NombreCompletoUsuario}})
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="text-center text-white">
                            DOY POR VÁLIDO EL RECIBO Y QUE ES CORRECTA LA DISTRIBUCIÓN QUE DEL MONTO SE HA HECHO
                        </p>
                    </div>
                </div>
            </div>
            <hr class="hr2">
            <div class="recibo">
                <div class="row">
                    <div class="col-2">
                        <img src="./assets/images/logopgr.png" width="100" alt="sv">
                    </div>
                    <div class="col-8">
                        <h4 class="text-center">Procuraduría General de la República</h4>
                        <p class="text-center"><strong>{{mandamiento.nombrePA}}</strong></p>
                        <p class="text-center">Unidad de Control de Fondos de Terceros</p>
                    </div>
                    <div class="col-2">
                        <div class="position-relative">
                            <img src="./assets/images/sello.png" width="120" alt="sello">
                            <p class="lafechasello"><b>{{mandamiento.fechaHoy}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12"><p>&nbsp;</p></div>
                            <div class="col-12"><p>N° de control:</p></div>
                            <div class="col-12"><p>Empresa:</p></div>
                            <div class="col-12"><p>Nombre:</p></div>
                            <div class="col-12"><p>Valor en Letra:</p></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12"><p>{{mandamiento.nombreBanco}}</p></div>
                            <div class="col-12"><p>{{mandamiento.codigoPlanillaVentanilla}}</p></div>
                            <div class="col-12"><p>{{mandamiento.codigoPgr}}</p></div>
                            <div class="col-12"><p>{{mandamiento.nombreComercial}}</p></div>
                            <div class="col-12"><p>{{mandamiento.numeroLetra}}</p></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12"><p>Recibo de ingreso N°: {{mandamiento.numeroCorrelativoReciboIngreso}}</p></div>
                            <div class="col-12"><p>Fecha de generación: {{ mandamiento.fechaHoy }}</p></div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6"><p><strong>Por: US($):</strong></p></div>
                                    <div class="col-6"><p><strong class="text-right">{{ mandamiento.monto | currency: 'USD' }}</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center"><strong>Cargo en caja</strong></p>
                        <hr class="hr">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><p>Número de remesa: {{mandamiento.numeroRemesaPresentada}}</p></div>
                    <div class="col-6"><p>Fecha de remesa: {{mandamiento.fechaRemesaPresentada }}</p></div>
                    <div class="col-12"><p>Observaciones: {{mandamiento.observaciones}}</p></div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <p class="text-center colector">
                            COLECTOR ({{data.NombreCompletoUsuario}})
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="text-center text-white">
                            DOY POR VÁLIDO EL RECIBO Y QUE ES CORRECTA LA DISTRIBUCIÓN QUE DEL MONTO SE HA HECHO
                        </p>
                    </div>
                </div>
            </div>
            <hr class="hr2">
            <div class="recibo">
                <div class="row">
                    <div class="col-2">
                        <img src="./assets/images/logopgr.png" width="100" alt="sv">
                    </div>
                    <div class="col-8">
                        <h4 class="text-center"><strong>Procuraduría General de la República</strong></h4>
                        <p class="text-center"><strong>{{mandamiento.nombrePA}}</strong></p>
                        <p class="text-center">Unidad de Control de Fondos de Terceros</p>
                    </div>
                    <div class="col-2">
                        <div class="position-relative">
                            <img src="./assets/images/sello.png" width="120" alt="sello">
                            <p class="lafechasello"><b>{{mandamiento.fechaHoy}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12"><p>&nbsp;</p></div>
                            <div class="col-12"><p>N° de control:</p></div>
                            <div class="col-12"><p>Empresa:</p></div>
                            <div class="col-12"><p>Nombre:</p></div>
                            <div class="col-12"><p>Valor en Letra:</p></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12"><p>{{mandamiento.nombreBanco}}</p></div>
                            <div class="col-12"><p>{{mandamiento.codigoPlanillaVentanilla}}</p></div>
                            <div class="col-12"><p>{{mandamiento.codigoPgr}}</p></div>
                            <div class="col-12"><p>{{mandamiento.nombreComercial}}</p></div>
                            <div class="col-12"><p>{{mandamiento.numeroLetra}}</p></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12"><p>Recibo de ingreso N°: {{mandamiento.numeroCorrelativoReciboIngreso}}</p></div>
                            <div class="col-12"><p>Fecha de generación: {{ mandamiento.fechaHoy }}</p></div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6"><p><strong>Por: US($):</strong></p></div>
                                    <div class="col-6"><p><strong class="text-right">{{ mandamiento.monto | currency: 'USD' }}</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center"><strong>Cargo en caja</strong></p>
                        <hr class="hr">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><p>Número de remesa: {{mandamiento.numeroRemesaPresentada}}</p></div>
                    <div class="col-6"><p>Fecha de remesa: {{mandamiento.fechaRemesaPresentada }}</p></div>
                    <div class="col-12"><p>Observaciones: {{mandamiento.observaciones}} </p></div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <p class="text-center colector">
                            COLECTOR ({{data.NombreCompletoUsuario}})
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="text-center text-white">
                            DOY POR VÁLIDO EL RECIBO Y QUE ES CORRECTA LA DISTRIBUCIÓN QUE DEL MONTO SE HA HECHO
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button label="Imprimir" icon="pi pi-print" pButton pRipple type="button" class="p-button-primary mx-1" (click)="imprimirReciboIngreso()"></button>
        </div>
    </ng-template>
    <ng-template #modalEstados let-estado>
        <div class="modal-header ">
            <h4 class="text-center">Estado de la planilla</h4>
            <button class="close" aria-label="close" type="button" (click)="estado.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body" >
            <div class="row">
                <div class="col-12 timeline" *ngIf="codigoEstado != '4'">
                    <p-timeline [value]="codigoEstadosTimeline" class="w-full md:w-20rem" align="alternate">
                        <ng-template pTemplate="marker" let-estado>

                            <span
                                class="custom-marker p-shadow-2"
                                [style.color]="buscarTrackPlanilla(estado.value)">
                                <i [ngClass]="'pi pi-check-circle'"></i>
                            </span>
                        </ng-template>
                        <ng-template pTemplate="content" let-estado class="listo">
                            <strong>{{estado.name}}</strong>
                        </ng-template>
                    </p-timeline>
                </div>
            </div>
            <!--div class="row" *ngIf="estadoActual != 4; else nuladas">
                    <div class="col-6"  *ngFor="let estado of codigoEstadosTimeline">
                        <div class="card-estados" [style.background]="buscarTrackPlanilla(estado.value)">
                            <p class="text-center">{{estado.name}}<br>
                                <i [ngClass]="'pi pi-check-circle'"></i>
                            </p>
                        </div>
                    </div>
            </div-->
            <!--ng-template #nuladas>
                <div class="row">
                    <div class="col-6">
                        <div class="card-estados" [style.background]="'#a2bfa2'">
                            <p class="text-center">Anulada<br>
                                <i [ngClass]="'pi pi-check-circle'"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template-->
        </div>
        <div class="modal-footer">
            <!--button label="Cerrar" icon="pi pi-times" pButton pRipple type="button" class="p-button-info mx-1" (click)="estado.dismiss()"></button-->
        </div>
    </ng-template>
    <div class="container-fluid">
        <p-panel>
            <div class="row">
                <div class="col-12" style="position: relative;">
                    <div id="elsello">
                        <div id="sellito" style="position: relative;">
                            <img src="./assets/images/sello.png" width="150" alt="">
                            <p id="sello_p">{{unafecha}} </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p-toast></p-toast>
                    <h2>Bitácora recibos de ingreso</h2>
                </div>
            </div>
            <div class="row">
                <form action="" [formGroup]="filterForm" (ngSubmit)="buscar()">
                    Seleccione una empresa<br>
                    <p-dropdown [style]="{'minWidth':'25%'}" formControlName="empresa" [options]="usuarios" optionLabel="name" optionValue="code" placeholder="Seleccione empresa"></p-dropdown><br>
                    <p-button styleClass="p-button-raised p-button-rounded p-button-outlined m-2" label="Buscar" type="submit"></p-button>
                    <p-button styleClass="p-button-raised p-button-rounded p-button-outlined p-button-secondary m-2" type="button" (click)="limpiar()" label="Limpiar"></p-button>
                </form>
                <div class="col-12">
                    <div class="card">
                        <p-table #myTab [value]="mandamientos" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
                        [globalFilterFields]="['noMandamiento', 'periodo','nombreComercial']" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i 
                                        class="pi pi-search" 
                                        style="margin:4px 4px 0 0"> 
                                    </i>
                                    <input 
                                        type="text" 
                                        pInputText
                                        placeholder="Término a buscar"
                                        (input)=
                        "myTab.filterGlobal($any($event.target).value, 'contains')" 
                                        style="width:auto" />
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="idControl">N° <p-sortIcon field="idControl"></p-sortIcon></th>
                                    <th pSortableColumn="noMandamiento">N° de mandamiento <p-sortIcon field="noMandamiento"></p-sortIcon></th>
                                    <th >Descripción </th>
                                    <th>Empresa</th>
                                    <th pSortableColumn="codigoPGR">Código de empresa PGR <p-sortIcon field="codigoPGR"></p-sortIcon></th>
                                    <th pSortableColumn="codigoTipoCuota">Tipo de pago <p-sortIcon field="codigoTipoCuota"></p-sortIcon></th>
                                    <th pSortableColumn="monto">Monto <p-sortIcon field="monto"></p-sortIcon></th>
                                    <th>Comprobante banco</th>
                                    <th pSortableColumn="codigoEstado">Estado <p-sortIcon field="codigoEstado"></p-sortIcon></th>
                                    <th>Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-i="rowIndex" let-mandamiento>
                                <tr *ngIf="mandamiento.codigoEstado >= 3">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ mandamiento.noMandamiento }}</td>
                                    <td>{{ mandamiento.descripcion }}</td>
                                    <td>{{ mandamiento.nombreComercial }}</td>
                                    <td>{{ mandamiento.codigoPGR }}</td>
                                    <td>{{ buscarTipoCuota(mandamiento.codigoTipoCuota) }}</td>
                                    <td>{{ mandamiento.monto | currency:'USD' }}</td>
                                    <td>
                                        <div *ngIf="mandamiento.rutaImagenComprobante != null; else pending">
                                            <button pButton pRipple type="button" label="Ver comprobante" icon="pi pi-eye" (click)="verEditarComprobante(mandamiento)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div>
                                        <ng-template #pending>
                                            <button pButton pRipple type="button" label="Subir comprobante" icon="pi pi-upload" (click)="agregarComprobante(mandamiento.idControl)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </ng-template>
                                    </td>
                                    <td><p-tag severity="{{claseEstadoPlanilla(mandamiento.codigoEstado)}}" (click)="verTrack(mandamiento.idEncabezado)" value="{{buscarEstadoPlanilla(mandamiento.codigoEstado)}}"></p-tag></td>
                                    <td>
                                        <button [loading]="loading" title="Imprimir planilla" label="Planilla" pButton (click)="imprimirComprobante(mandamiento.idEncabezado)" icon="pi pi-print" class="p-button-raised p-button-rounded p-button-outlined p-button-help m-1"></button>
                                        <button title="Imprimir recibo de ingreso" label="Recibo de ingreso" pButton (click)="reciboIngreso(mandamiento.idEncabezado)" icon="pi pi-print" class="p-button-raised p-button-rounded p-button-outlined p-button-help m-1"></button>
                                        <button *ngIf="mandamiento.rutaImagenComprobante != null && mandamiento.codigoEstado == 5" title="Registrar recibo de pago" pButton (click)="finalizarPlanilla(mandamiento.idEncabezado)" icon="pi pi-check" class="p-button-raised p-button-rounded p-button-outlined p-button-primary m-1"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="col-12">
                        <p-button icon="pi pi-angle-left" styleClass="p-button-raised p-button-rounded p-button-outlined" routerLink="/dashboard/planillas" label="Atrás"></p-button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</section>

