<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Seleccione una opción</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-3">
                <mat-card class="l-bg-green-dark pointer">
                    <mat-card-header>
                        <h4 class="text-center text-white">Cargar <br>planilla</h4>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-12 col-md-3 ">
                <mat-card class="l-bg-cyan-dark pointer">
                    <mat-card-header>
                        <h4 class="text-center text-white">Clonar <br>planilla</h4>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-12 col-md-3">
                <mat-card class="l-bg-orange-dark pointer">
                    <mat-card-header>
                        <h4 class="text-white">Cargar planilla<br> vía csv</h4>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-12 col-md-3" (click)="historial()">
                <mat-card class="l-bg-teal-dark pointer">
                    <mat-card-header>
                        <h4 class="text-white">Historial de<br>planillas</h4>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</section>