<section class="content">
    <div class="auth-container">
        <div class="row auth-main">
          <div class="col-sm-12 auth-form-section">
            <div class="form-section">
              <div class="auth-wrapper">
                <form>
                  <span class="error-header p-b-45">
                    403
                  </span>
                  <span class="error-subheader p-b-5">
                    No tiene permiso para ver esa página
                  </span>
                  <span class="error-subheader2 p-b-5">
                    La página que estabas buscando no se ha podido acceder por falta de privilegios.
                  </span>
                  <div class="container-auth-form-btn mt-5">
                    <button routerLink="/dashboard" mat-flat-button color="primary" class="auth-form-btn" type="submit">
                      Volver a la página inicial
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
