<div class="header">
    <h4>
        <strong>Adjunte el archivo .xls o .xlsx a importar:</strong>
    </h4>
</div>


<div class="file-drop-area">
    <p-button icon="pi pi-upload" label="Elegir archivo"></p-button>
    <span class="ms-2" *ngIf="myFiles.length == 0">O Arraste y suelte el archivo aquí.</span>
    <span class="file-msg" *ngFor="let file of myFiles">
     <div class="me-2">{{ file["name"] }}, subido exitosamente.</div>
   </span>
    <input class="file-input" type="file" multiple #file (change)="getFileDetails(file.files)">
</div>
<hr>
<div class="table-responsive" *ngIf="loadedData">
    <p-table [value]="registros"
             styleClass="p-datatable-striped"
             [paginator]="true" [rows]="10" [totalRecords]="registros.length"
             
    >
        <ng-template pTemplate="caption">
            <div class="d-md-inline-flex justify-content-md-between w-100">
                <div class="my-auto"> Estos son los datos encontrados.</div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Código expediente</th>
                <th>N° tarjeta física</th>
                <th>DUI</th>
                <th>Nombres demandado</th>
                <th>Apellidos demandado</th>
                <th>Nombres demandante</th>
                <th>Apellidos demandante</th>
                <th>Monto cuota</th>
                <th>Número de beneficiarios</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tableRow>
            <tr>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" style="width: 50%;"  [(ngModel)]="tableRow.CodigoExpediente">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.CodigoExpediente}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" style="width: 50%;" [(ngModel)]="tableRow.NoTarjeta">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.NoTarjeta}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText [dropSpecialCharacters]="false" mask="00000000-0" maxlength="10" type="text" [(ngModel)]="tableRow.DUIdemandado">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.DUIdemandado}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="tableRow.NombresDemandado">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.NombresDemandado}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="tableRow.ApellidosDemandado">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.ApellidosDemandado}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="tableRow.NombresDemandante">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.NombresDemandante}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="tableRow.ApellidosDemandante">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.ApellidosDemandante}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText pKeyFilter="money" style="width: 50%;"  [(ngModel)]="tableRow.Monto">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.Monto | currency: 'USD'}}
                        </ng-template>
                    </p-cellEditor>
                   
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText pKeyFilter="int" style="width: 50%;"  [(ngModel)]="tableRow.NoBeneficiarios">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{tableRow.NoBeneficiarios}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No se encontraron resultados.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="d-md-inline-flex justify-content-md-between w-100">
                <div class="my-auto">
                        Se han encontrado {{ registros ? registros.length : 0 }} registros.
                        <span class="font-14 fw-light" *ngFor="let results of resultsShow ">
                                                  / {{results.nombre}} : {{results.resultado}}
                                                </span>
                </div>
                <div>
                    <ul class="header-buttons">
                        <li>
                            <button [disabled]="registros.length === 0"
                                    (click)="guardarRegistrosCargados()"
                                    pButton type="button" class="p-button-primary"
                                    icon="pi pi-cog" label="Guardar datos">
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
        
    </p-table>
</div>