tr.body{
    font-size: 9px;
}
.contanido{
    page-break-inside: avoid;
}
#header{
    border: 1px solid #000;
    border-radius: 5px;
}

#body{
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
}

#sello_p{
    position: absolute;
    margin-top: -2.4em;
    margin-left: 1.3rem;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
}

#elsello{
    position: absolute;
    margin-top: 8rem;
    width: 9%;
}