tr.body{
    font-size: 9px;
}
.contanido{
    page-break-inside: avoid;
}
#header{
    border: 1px solid #000;
    border-radius: 5px;
}

#body{
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
}

#sello_p{
    position: absolute;
    margin-top: -2.7em;
    margin-left: 2.9rem;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

#elsello{
    position: absolute;
    margin-top: 6rem;
    width: 100%;
}

#sellito{
    @media(min-width: 668px){
        width: 200px;
    }
}