tr.body{
    font-size: 9px;
}
.contanido{
    page-break-inside: avoid;
}
#header{
    border: 1px solid #000;
    border-radius: 5px;
}

#body{
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
}