<section class="content">
    <ng-template #modalPlanilla let-modal>
        <div class="modal-header ">
            <h4 class="text-center">Planilla</h4>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body" class="contenido" id="contenido">
            <header id="header">
                <div class="row">
                    <div class="col-2">
                        <img src="./assets/images/logopgr.png" width="100" alt="pgr">
                    </div>
                    <div class="col-8 my-4">
                        <h5 class="text-center">PROCURADURÍA GENERAL DE LA REPÚBLICA</h5>
                    </div>
                    <div class="col-2"></div>
                </div>
                <table class="table" width="100%">
                    <tr>
                        <th width="50%"><strong>1. NOMBRE DE LA INSTITUCION: </strong> {{imprimir.nombreComercial}}</th>
                        <th><strong>2. DIRECCIÓN Y TELÉFONO: </strong> </th>
                        <th><strong>3. TELÉFONO - FAX: </strong> </th>
                    </tr>
                    <tr>
                        <th wisth="50%"></th>
                        <th><strong>4. CORREO:</strong> {{isMedios("1")}}</th>
                    </tr>
                    <tr>
                        <th width="50%"><strong>CODIGO DE EMPRESA:</strong> {{ data.CodigoPGR }}</th>
                        <th width="25%"><strong>5. MES A PAGAR:</strong> {{ imprimir.mes }}</th>
                        <th width="25%"><strong>6. AÑO A PAGAR:</strong> {{ imprimir.anio }}</th>
                    </tr>
                </table>
                <br>
            </header>
            <div id="body">
                <table class="table" rules="all">
                    <thead>
                        <tr class="body">
                            <th>7. NOMBRE DEL ALIMENTARIO</th>
                            <th>8. NOMBRE DEL ALIMENTANTE</th>
                            <th>9. No. EXPEDIENTE FISICO</th>
                            <th>10. No. EXPEDIENTE ELECTRÓNICO</th>
                            <th>11. TIPO DE INGRESO</th>
                            <th>12. Monto</th>
                            <th>13. NÚMERO DE IDENTIFIACION<br>DUI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="body" *ngFor="let detalle of imprimir.detalles; index as i">
                            <td>{{ (i+1) +". "+ detalle.apellidosDemandante +" "+ detalle.nombresDemandante }}</td>
                            <td>{{ detalle.apellidosDemandado +" "+ detalle.nombresDemandado }}</td>
                            <td>{{ detalle.noExpediente }}</td>
                            <td>{{ detalle.codigoExpediente }}</td>
                            <td>{{ codigoTipoCuota(imprimir.codigoTipoCuota)}}</td>
                            <td>{{ detalle.monto | currency:'USD' }}</td>
                            <td>{{ detalle.duIdemandado }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button label="Imprimir" icon="pi pi-print" pButton pRipple type="button" class="p-button-primary mx-1" (click)="imprimirPDF()"></button>
        </div>
    </ng-template>
    <div class="container-fluid">
        <p-panel>
            <div class="row">
                <div class="col-12" style="position: relative;">
                    <div id="elsello">
                        <div id="sellito" style="position: relative;">
                            <img src="./assets/images/sello.png" width="200" alt="">
                            <p id="sello_p">{{unafecha}} </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p-toast></p-toast>
                    <h2 class="text-center">Reporte de planillas</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <p-table #myTab [value]="planillas" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="obtenerPlanillas($event)" [totalRecords]="totalRecords"
                        [globalFilterFields]="['noMandamiento', 'periodo']" [showCurrentPageReport]="true"  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i 
                                        class="pi pi-search" 
                                        style="margin:4px 4px 0 0"> 
                                    </i>
                                    <input 
                                        type="text" 
                                        pInputText
                                        placeholder="No de mandamiento"
                                        (input)=
                        "myTab.filterGlobal($any($event.target).value, 'contains')" 
                                        style="width:auto" />
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="noMandamiento">N° de mandamiento <p-sortIcon field="noMandamiento"></p-sortIcon></th>
                                    <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon></th>
                                    <th pSortableColumn="codigoTipoCuota">Tipo <p-sortIcon field="codigoTipoCuota"></p-sortIcon></th>
                                    <th>Monto planilla</th>
                                    <th>Expedientes en planilla</th>
                                    <th>Fecha presentación</th>
                                    <th pSortableColumn="codigoEstado">Estado <p-sortIcon field="codigoEstado"></p-sortIcon></th>
                                    <th>Acción</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-planilla>
                                <tr *ngIf="planilla.codigoEstado >= 5">
                                    <td><span class="p-column-title">N° de mandamiento</span>{{ planilla.noMandamiento }}</td>
                                    <td><span class="p-column-title">Periodo</span>{{ planilla.periodo }}</td>
                                    <td><span class="p-column-title">Tipo</span>{{ buscarTipoCuota(planilla.codigoTipoCuota) }}</td>
                                    <td><span class="p-column-title">Monto planilla</span>${{ planilla.monto }}</td>
                                    <td><span class="p-column-title">Expedientes en planilla</span>{{ planilla.empleadosEnPlanilla }}</td>
                                    <td><span class="p-column-title">Fecha presentación</span>{{ planilla.fechaEnvio  }}</td>
                                    <td><span class="p-column-title">Estado</span><p-tag severity="{{claseEstadoPlanilla(planilla.codigoEstado)}}" value="{{buscarEstadoPlanilla(planilla.codigoEstado)}}"></p-tag></td>
                                    <td>
                                        <button [loading]="loading" title="Imprimir comprobante" pButton (click)="imprimirComprobante(planilla.idEncabezado)" icon="pi pi-print" class="p-button-raised p-button-rounded p-button-outlined p-button-help mx-1"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="col-12">
                        <p-button icon="pi pi-angle-left" routerLink="/dashboard/planillas" label="Atrás"></p-button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</section>
