<ng-template #buscarnit let-modal>
  <div class="modal-header">
    <h4 class="text-center">información de usuario</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
    <form class="validate-form">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          
        </div>
      </div>
      <div class="mt-2">
        <div style="text-align:center">
          <button mat-raised-button class="btn btn-primary" type="button">Cerrar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<ng-template #mail let-mail>
  <div class="modal-header">
    <h4 class="text-center">Enviar mensaje</h4>
    <button class="close" aria-label="close" type="button" (click)="mail.dismiss()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <input type="hidden" [(ngModel)]="idUsuario">
          <ckeditor [editor]="Editor" [(ngModel)]="mensaje"></ckeditor>
        </div>
      </div>
      <div class="mt-2">
        <div style="text-align:center">
          <button mat-raised-button class="btn btn-default" [loading]="loading" (click)="mail.dismiss()" type="button">Cerrar</button>
          <button mat-raised-button class="btn btn-primary" (click)="sendMail()" type="button">Enviar</button>
        </div>
      </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<section class="content">
  <p-toast></p-toast>
    <div class="container-fluid">
        <p-panel>
          <div class="row">
            <div class="col-12">
                <h3 class="text-center">Listado de usuarios pendientes de revisión de información por parte de la Gerencia de Control de Fondos de Terceros</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
              <p-table [value]="usuarios" [paginator]="true" [showCurrentPageReport]="true"  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rows]="10" [lazy]="true" (onLazyLoad)="buscarUsuarios($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 25, 50, 100]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>N°</th>
                    <th>Usuario (acceso al sistema)</th>
                    <th>N° Documento</th>
                    <th>Imagen del documento</th>
                    <th>Nombre de la empresa o institución</th>
                    <th>Código PGR</th>
                    <th>Fecha de registro</th>
                    <th>Aceptó términos y cond.</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario let-ri="rowIndex">
                  <tr>
                    <td>{{ ri+1 }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.nit }}</td>
                    <td><button pButton class="p-button-raised p-button-rounded p-button-outlined p-button-help" icon="pi pi-eye" label="Ver documento" (click)="descargarArchivo(usuario.imagenNIT)"></button></td>
                    <td>{{ usuario.nombreComercial }}</td>
                    <td>{{ usuario.codigoPGR }}</td>
                    <td>{{ usuario.fechaRegistro | date }}</td>
                    <td>{{ usuario.fechaHoraTerminos | date :"dd/MM/yyyy HH:mm:ss" }}</td>
                    <td>
                        <button (click)="activarUsuario(usuario.idUsuario)" pButton icon="pi pi-check" title="Aprobar" class="p-button-raised p-button-rounded p-button-outlined p-button-primary"></button> | 
                        <button (click)="enviarMensaje(usuario.idUsuario)" pButton icon="pi pi-send" title="Enviar mensaje" class="p-button-raised p-button-rounded p-button-outlined p-button-success"></button> | 
                        <button (click)="vistaEditarUsuario(usuario.codigoEmpresa)" title="Editar" pButton icon="pi pi-user-edit" class="p-button-raised p-button-rounded p-button-outlined p-button-warning"></button>
                    </td>
                </tr>
                </ng-template>
              </p-table>
            </div>
        </div>
        </p-panel>
    </div>
</section>