<ng-template #buscarnit let-modal>
    <div class="modal-header">
      <h4 class="text-center">información de usuario</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form class="validate-form">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            
          </div>
        </div>
        <div class="mt-2">
          <div style="text-align:center">
            <button color="btn btn-primary" class="auth-form-btn" type="button">Cerrar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Listado de usuarios pendientes de revisión de información por parte de la Gerencia de Control de Fondos de Terceros</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
              <p-table [value]="usuarios" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="buscarUsuarios($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 25, 50, 100]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Codigo de la persona</th>
                    <th>Usuario (acceso al sistema)</th>
                    <th>NIT</th>
                    <th>Imagen NIT</th>
                    <th>Nombre de la empresa</th>
                    <th>Fecha de registro</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                  <tr>
                    <td>{{ usuario.codigoEmpresa }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.nit }}</td>
                    <td><a href="#" (click)="descargarArchivo(usuario.imagenNIT)">Ver</a></td>
                    <td>{{ usuario.nombreComercial }}</td>
                    <td>{{ usuario.fechaRegistro | date }}</td>
                    <td>
                        <button (click)="activarUsuario(usuario.codigoEmpresa)" pButton icon="pi pi-check" class="p-button-primary"></button> | 
                        <a routerLink="/dashboard/editar-usuario/{{ usuario.codigoEmpresa}}" pButton icon="pi pi-user-edit" class="p-button-warning"></a>
                    </td>
                </tr>
                </ng-template>
              </p-table>
                <!--table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Codigo de la persona</th>
                            <th>Usuario (acceso al sistema)</th>
                            <th>NIT</th>
                            <th>Imagen NIT</th>
                            <th>Nombre de la empresa</th>
                            <th>Fecha de registro</th>
                            <th></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr *ngFor="let usuario of usuarios; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ usuario.codigoEmpresa }}</td>
                            <td>{{ usuario.usuario }}</td>
                            <td>{{ usuario.nit }}</td>
                            <td><a href="#" (click)="descargarArchivo(usuario.imagenNIT)">Ver</a></td>
                            <td>{{ usuario.nombreComercial }}</td>
                            <td>{{ usuario.fechaRegistro | date }}</td>
                            <td>
                                <a href="/dashboard/editar-usuario/{{ usuario.codigoEmpresa}}" class="btn btn-warning btn-sm"><mat-icon>edit</mat-icon></a> | 
                                <button (click)="activarUsuario(usuario.codigoEmpresa)" class="btn btn-primary btn-sm"><mat-icon>check</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table-->
            </div>
        </div>
    </div>
</section>