<div id="aside">
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
      <!-- Menu -->
      <div class="menu">
        <ul class="list"
          [ngStyle]="{'position' : 'relative', 'max-height' : listMaxHeight+'px', 'max-width' : listMaxWidth+'px'}"
          >
          <li class="sidebar-user-panel my-3 pe-none">
            <div class="profile-usertitle">
              <div class="sidebar-userpic-name">{{usuario.NombreEmpresa}} </div>
              <div class="profile-usertitle-job mt-2 text-secondary">{{usuario.NombreCompletoUsuario}}</div>
            </div>
          </li>
          <li class="sidebar-user-panel">
            <div class="profile-usertitle">
              <div class="text-white">Opciones</div>
            </div>
            <hr class="mt-2 mb-0">
          </li>
          <li class="sidebar-user-panel">
            
            <a routerLink="/dashboard/home" class="menu-top">
              <i-feather name="home" class="sidebarIcon"></i-feather>
              Inicio
            </a>
          </li>
          <!--li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'U' && usuario.Estado == 1">
            <a class="menu-top">
              <i-feather name="chevron-down" class="sidebarIcon"></i-feather>
              Mantenimiento de empleados
            </a>
          </li-->
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'U' && usuario.Estado == 1">
            <a routerLink="/dashboard/empleados" class="menu-top">
              <i-feather name="user-plus" class="sidebarIcon"></i-feather>
              Empleados activos
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'U' && usuario.Estado == 1">
            <a routerLink="/dashboard/empleados/inactivos" class="menu-top">
              <i-feather name="user-minus" class="sidebarIcon"></i-feather>
              Empleados inactivos
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'U' && usuario.Estado == 1">
            <a routerLink="/dashboard/planillas" class="menu-top">
              <i-feather name="list" class="sidebarIcon"></i-feather>
              Planillas
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'U' && usuario.Estado == 1">
            <a routerLink="/dashboard/pagos" class="menu-top">
              <i-feather name="dollar-sign" class="sidebarIcon"></i-feather>
              Registro de pago de planillas
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'U' && usuario.Estado == 1">
            <a routerLink="/dashboard/reportes" class="menu-top">
              <i-feather name="printer" class="sidebarIcon"></i-feather>
              Reportes
            </a>
          </li>
          <li class="sidebar-user-panel">
            <a routerLink="/dashboard/perfil" class="menu-top">
              <i-feather name="check-circle" class="sidebarIcon"></i-feather>
              Editar mi perfil
            </a>
          </li>
          
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol != 'U'">
            <a routerLink="/dashboard/bitacora-juridicas" class="menu-top">
              <i-feather name="home" class="sidebarIcon"></i-feather>
              Bitácora de movimientos
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'A'">
            <a routerLink="/dashboard/planillas/presentadas" class="menu-top">
              <i-feather name="dollar-sign" class="sidebarIcon"></i-feather>
              Emitir recibo de ingreso
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'A'">
            <a routerLink="/dashboard/planillas/recibos" class="menu-top">
              <i-feather name="dollar-sign" class="sidebarIcon"></i-feather>
              Bitácora recibos de ingreso
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol != 'U'">
            <a routerLink="/dashboard/usuarios-activos" class="menu-top">
              <i-feather name="user-plus" class="sidebarIcon"></i-feather>
              Usuarios activos
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol != 'U'">
            <a routerLink="/dashboard/usuarios-pendientes" class="menu-top">
              <i-feather name="user-check" class="sidebarIcon"></i-feather>
              <span matBadge="{{numeroPendientes}}" matBadgeSize="small">Verificación de usuarios </span>
            </a>
          </li>
          <li class="sidebar-user-panel" *ngIf="usuario.CodigoRol == 'R'">
            <a routerLink="/dashboard/administradores" class="menu-top">
              <i-feather name="users" class="sidebarIcon"></i-feather>
              Usuarios administradores
            </a>
          </li>
          <li class="sidebar-user-panel" >
            <a routerLink="/dashboard/legal" class="menu-top">
              <i-feather name="book" class="sidebarIcon"></i-feather>
              Soporte Legal
            </a>
          </li>
        </ul>
      </div>
      <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
  </div>
  