.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -21px;
}

.sidebar .menu .list a span {
    margin: auto !important;
}



.sidebar{
    .menu{
        .list{
            li{
                a{
                    text-decoration: none !important;
                }
            }
        }
    }
}
