<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Reportes</h2>
                <h6 class="text-center my-4">Tipos de reportes</h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-3" routerLink="/dashboard/reportes/planillas">
                <p-card class="pointer text-center">
                    <h3 class="m-0 text-center">
                        Planillas
                    </h3>
                    <mat-icon class="mt-2">print</mat-icon>
                </p-card>
            </div>
            
        </div>
    </div>
</section>
