<div class="auth-container">
    <nav class="navbar navbar-light dark" color="dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><img width="250" src="/assets/images/logo.png" alt=""></span>
      </div>
    </nav>
      <div class="row auth-main">
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <div class="left-img" style="background-image: url(assets/images/login_banner.png);">
          </div>
        </div>
        <div class="col-sm-6 auth-form-section">
          <div class="form-section">
            <div class="auth-wrapper">
              <h4 class="text-center fw-light">Bienvenida/o al</h4>
              <h3 class="align-center">
                {{'Sistema Planilla Digital' | uppercase}}
                <span class="text-gold"></span>
              </h3>
              <hr class="mb-4">
              <div class="alert alert-success">Perfil creado</div>
              <h4 class="login-title mt-2">Registro creado con éxito</h4>
              <div class="row justify-content-center">
                <div class="col-12">
                    <p class="auth-signup-text text-muted pb-0">
                        Datos creados con éxito, luego que verifiquemos la información que proporcionaste<br>
                        recibiras un correo electrónico con los datos de acceso al sistema de EPlanilla<br>
                        para que puedas realizar tu planilla ¡fácil y rápido!
                    </p>
                </div>
              </div>
              <div class="row mt-2 text-center">
                <p class="auth-signup-text text-muted pb-0">
                  Ir al inicio de sesión
                  <a href="authentication/signin" class="sign-up-link">Iniciar sesión</a>
                </p>
              </div>
            </div>
          </div>
        </div>
    
      </div>
  </div>