<section class="content">
    <div class="container-fluid">
        <p-panel>
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Documentos legales que respaldan el cobro de cuotas alimenticias</h1>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Código de familia</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver código de familia" icon="pi pi-print" [loading]="loading" (onClick)="download()"></p-button>
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Decreto 140 sobre Aguinaldos 1997</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver decreto" icon="pi pi-print" [loading]="loading1" (onClick)="download1()"></p-button>
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Decreto 167 sobre Aguinaldos  diciembre 1998</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver decreto" icon="pi pi-print" [loading]="loading2" (onClick)="download2()"></p-button>
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Decreto 168 reforma a indemnizaciones</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver decreto" icon="pi pi-print" [loading]="loading3" (onClick)="download3()"></p-button>
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Decreto 212 solvencias</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver decreto" icon="pi pi-print" [loading]="loading4" (onClick)="download4()"></p-button>
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Decreto 530 disposiciones aguinaldos</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver decreto" icon="pi pi-print" [loading]="loading5" (onClick)="download5()"></p-button>
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <h2 class="text-center">Decreto 1015 solvencia cargos públicos 2002</h2>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <p-button styleClass="p-button-help p-button-raised p-button-rounded p-button-outlined" label="Ver decreto" icon="pi pi-print" [loading]="loading6" (onClick)="download6()"></p-button>
                    </p>
                </div>
            </div>
        </p-panel>
    </div>
</section>
