<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Historial de planillas</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <form>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Seleccione el mes</mat-label>
                                <mat-select placeholder="Seleccione un mes">
                                    <mat-option *ngFor="let mes of meses" [value]="mes.value">
                                        {{mes.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Código de la empresa</mat-label>
                                <input matInput name="hola">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <button mat-button color="primary">Primary</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <p-table [value]="products" [columns]="5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Código</th>
                                <th>Título</th>
                                <th>Periodo</th>
                                <th>Tipo</th>
                                <th>Monto planilla</th>
                                <th>Personal en planilla</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{ product.code }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.description }}</td>
                                <td>${{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td><p-tag severity="primary" value="Enviada"></p-tag></td>
                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12">
                    <p-button routerLink="/dashboard/planillas" label="Atrás"></p-button>
                </div>
            </div>
        </div>
    </div>
</section>

