<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p-toast></p-toast>
                <h2>Historial de planillas</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <!--form>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Seleccione el mes</mat-label>
                                <mat-select placeholder="Seleccione un mes">
                                    <mat-option *ngFor="let mes of meses" [value]="mes.value">
                                        {{mes.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Código de la empresa</mat-label>
                                <input matInput name="hola">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <button pButton class="primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </form-->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <p-table #myTab [value]="planillas" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="obtenerPlanillas($event)" [totalRecords]="totalRecords"
                    [globalFilterFields]="['noMandamiento', 'periodo']">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i 
                                    class="pi pi-search" 
                                    style="margin:4px 4px 0 0"> 
                                </i>
                                <input 
                                    type="text" 
                                    pInputText size="50" 
                                    placeholder="Global Filter"
                                    (input)=
                    "myTab.filterGlobal($any($event.target).value, 'contains')" 
                                    style="width:auto" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>N° de mandamiento</th>
                                <th>Periodo</th>
                                <th>Tipo</th>
                                <th>Monto planilla</th>
                                <th>Personal en planilla</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-planilla>
                            <tr>
                                <td>{{ planilla.noMandamiento }}</td>
                                <td>{{ planilla.periodo }}</td>
                                <td>{{ buscarTipoCuota(planilla.codigoTipoCuota) }}</td>
                                <td>${{ planilla.monto }}</td>
                                <td>{{ planilla.empleadosEnPlanilla }}</td>
                                <td><p-tag severity="primary" value="{{buscarEstadoPlanilla(planilla.codigoEstado)}}"></p-tag></td>
                                <td>
                                    <button *ngIf="planilla.codigoEstado == 1" pButton (click)="anularPlanilla(planilla.idEncabezado)" icon="pi pi-times" class="p-button-warning"></button> | 
                                    <button *ngIf="planilla.codigoEstado == 1" pButton routerLink="/dashboard/planillas/{{planilla.idEncabezado}}/edit" icon="pi pi-user-edit" class="p-button-primary"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12">
                    <p-button icon="pi pi-angle-left" routerLink="/dashboard/planillas" label="Atrás"></p-button>
                </div>
            </div>
        </div>
    </div>
</section>

