<section class="content">
    <ng-template #modalComprobante let-modal>
        <div class="modal-header ">
            <h4 class="text-center">Mandamiento de pago</h4>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
        </div>
        <div class="modal-body" id="contenido">
            <div class="row" >
                <div class="col-2">
                    <img src="./assets/images/logosv.png" width="100" alt="sv">
                </div>
                <div class="col-8">
                    <h2 class="text-center">Mandamiento de pago N°: {{ mandamiento.idControl }}</h2>
                    <p class="text-center"><strong>Planilla N°: </strong>{{mandamiento.noMandamiento}}</p>
                    <p class="text-center"><strong>Fecha generación: </strong> {{mandamiento.fechaHora | date:'dd/M/YYYY h:m:ss a'}}</p>
                    <p class="text-center"><strong>Tipo de cuota: </strong>{{buscarTipoCuota(mandamiento.codigoTipoCuota)}}</p>
                </div>
                <div class="col-2 float-right" style="text-align: right;">
                    <img src="./assets/images/logopgr.png" width="100" alt="pgr">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6"><h6 class="text-center"><strong>Nombre contribuyente</strong>: {{ mandamiento.nombreComercial }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>NIT</strong>: {{ mandamiento.nit }}</h6></div>
            </div>
            <div class="row">
                <div class="col-6"><h6 class="text-center"><strong>Monto: </strong> {{ mandamiento.monto | currency:'USD' }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>Procuraduría: </strong> {{ mandamiento.nombrePA }}</h6></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style='text-align: center;' class="barcode-container">
                        <app-bar-code [barcode]="barcode"></app-bar-code>
                    </div>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>NPE: </strong>{{  npe }}</h6>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>Concepto: </strong>{{  mandamiento.descripcion }}</h6>
                </div>
            </div>
            <hr>
            <div class="row" >
                <div class="col-2">
                    <img src="./assets/images/logosv.png" width="100" alt="sv">
                </div>
                <div class="col-8">
                    <h2 class="text-center">Mandamiento de pago N°: {{ mandamiento.idControl }}</h2>
                    <p class="text-center"><strong>Planilla N°: </strong>{{mandamiento.noMandamiento}}</p>
                    <p class="text-center"><strong>Fecha generación: </strong> {{mandamiento.fechaHora | date:'dd/M/YYYY h:m:ss a'}}</p>
                    <p class="text-center"><strong>Tipo de cuota: </strong>{{buscarTipoCuota(mandamiento.codigoTipoCuota)}}</p>
                </div>
                <div class="col-2 float-right" style="text-align: right;">
                    <img src="./assets/images/logopgr.png" width="100" alt="pgr">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6"><h6 class="text-center"><strong>Nombre contribuyente</strong>: {{ mandamiento.nombreComercial }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>NIT</strong>: {{ mandamiento.nit }}</h6></div>
            </div>
            <div class="row">
                <div class="col-6"><h6 class="text-center"><strong>Monto: </strong> {{ mandamiento.monto | currency:'USD' }}</h6></div>
                <div class="col-6"><h6 class="text-center"><strong>Procuraduría: </strong> {{ mandamiento.nombrePA }}</h6></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style='text-align: center;' class="barcode-container">
                        <app-bar-code [barcode]="barcode"></app-bar-code>
                    </div>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>NPE: </strong>{{  npe }}</h6>
                </div>
                <div class="col-12">
                    <h6 class="text-center"><strong>Concepto: </strong>{{  mandamiento.descripcion }}</h6>
                </div>
            </div>
            <hr>
        </div>
        <div class="modal-footer">
            <button label="Imprimir" icon="pi pi-print" pButton pRipple type="button" class="p-button-primary mx-1" (click)="imprimirPDF()"></button>
        </div>
    </ng-template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p-toast></p-toast>
                <h2>Historial de planillas</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <p-table #myTab [value]="planillas" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="obtenerPlanillas($event)" [totalRecords]="totalRecords"
                    [globalFilterFields]="['noMandamiento', 'periodo']">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i 
                                    class="pi pi-search" 
                                    style="margin:4px 4px 0 0"> 
                                </i>
                                <input 
                                    type="text" 
                                    pInputText size="50" 
                                    placeholder="No de mandamiento"
                                    (input)=
                    "myTab.filterGlobal($any($event.target).value, 'contains')" 
                                    style="width:auto" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="noMandamiento">N° de mandamiento <p-sortIcon field="noMandamiento"></p-sortIcon></th>
                                <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon></th>
                                <th pSortableColumn="codigoTipoCuota">Tipo <p-sortIcon field="codigoTipoCuota"></p-sortIcon></th>
                                <th>Monto planilla</th>
                                <th>Personal en planilla</th>
                                <th pSortableColumn="codigoEstado">Estado <p-sortIcon field="codigoEstado"></p-sortIcon></th>
                                <th>Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-planilla>
                            <tr>
                                <td>{{ planilla.noMandamiento }}</td>
                                <td>{{ planilla.periodo }}</td>
                                <td>{{ buscarTipoCuota(planilla.codigoTipoCuota) }}</td>
                                <td>${{ planilla.monto }}</td>
                                <td>{{ planilla.empleadosEnPlanilla }}</td>
                                <td><p-tag severity="{{claseEstadoPlanilla(planilla.codigoEstado)}}" value="{{buscarEstadoPlanilla(planilla.codigoEstado)}}"></p-tag></td>
                                <td>
                                    <button *ngIf="planilla.codigoEstado == 1" pButton (click)="anularPlanilla(planilla.idEncabezado)" icon="pi pi-times" class="p-button-warning mx-1"></button>
                                    <button *ngIf="planilla.codigoEstado == 1" pButton routerLink="/dashboard/planillas/{{planilla.idEncabezado}}/edit" icon="pi pi-user-edit" class="p-button-primary mx-1"></button>
                                    <button *ngIf="planilla.codigoEstado == 1" title="Procesar planilla" pButton (click)="procesarPlanilla(planilla.idEncabezado)" icon="pi pi-check" class="p-button-secondary mx-1"></button>
                                    <button *ngIf="planilla.codigoEstado == 2" title="Emitir comprobante" pButton (click)="generarPlanilla(planilla.idEncabezado)" icon="pi pi-money-bill" class="p-button-secondary mx-1"></button>
                                    <button *ngIf="planilla.codigoEstado == 3" title="Imprimir comprobante" pButton (click)="imprimirComprobante(planilla.idEncabezado)" icon="pi pi-print" class="p-button-secondary mx-1"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12">
                    <p-button icon="pi pi-angle-left" routerLink="/dashboard/planillas" label="Atrás"></p-button>
                </div>
            </div>
        </div>
    </div>
</section>

