/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "src/assets/scss/pages/_auth.scss";
html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f3f3f3; }

.bg-danger{
    background-color: red;
}

.text-light{
    color: white;
}

@media(min-width: 1200px){
  html {
    min-height: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.pointer{
  cursor: pointer;
}

.alert-error{
  background-color: red;
}

.alert-success{
  background-color: green;
}

#aside {
  /*width: 20%;*/
  background: #121427;
  float: left;
  min-height: 1299px;
}

#section {
  width: 80%;
  float: left;
}

aside{
  position: fixed;
}

section.content{
  margin: 70px 27px 0 260px;
  min-height: calc(100vh - 76px);
  transition: 0.5s;
}

.p-column-title{
  font-weight: bold !important;
}