/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "src/assets/scss/pages/_auth.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-danger{
    background-color: red;
}

.text-light{
    color: white;
}

@media(min-width: 1200px){
  html {
    min-height: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
  