<section class="content">
    <p-toast></p-toast>
    <ng-template #modalVerDocumento let-ver>
      <div class="modal-header">
          <h4 class="text-center">Documento de cesación</h4>
          <button class="close" aria-label="close" type="button" (click)="ver.dismiss()"><span>&times;</span></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <h5>Fecha de cesación: {{ verC.fechaCesacion | date}}</h5>
            </div>
              <div class="col-12">
                  <app-files-upload-dir [Ocultar]="true" [Directorio]="carpetaInstaciada" [actualFile]="verC.rutaDocumento"
                      (onUploadFinished)=uploadFinished($event) (onDownload)="downloadURLFile()"></app-files-upload-dir>
              </div>
          </div>
      </div>
  </ng-template>
    <p-panel>
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Listado de empleados inactivos</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-12 my-4">
          </div>
      </div>
        <div class="row mt-4">
            <div class="col-12">
              <p-table #dt [value]="empleados" [paginator]="true" [loading]="loading" [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 25, 50, 100]"
              [globalFilterFields]="['duiPasaporte', 'nombres','apellidos','codigoExpediente','expedienteFisico']" responsiveLayout="stack">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                      <i 
                          class="pi pi-search" 
                          style="margin:4px 4px 0 0"> 
                      </i>
                      <input 
                          type="text" 
                          pInputText 
                          placeholder="Digite el término a buscar"
                          (input)=
          "dt.filterGlobal($any($event.target).value, 'contains')" 
                          style="width:auto" />
                  </div>
              </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>N°</th>
                    <th pSortableColumn="duiPasaporte">DUI <p-sortIcon field="duiPasaporte"></p-sortIcon></th>
                    <th pSortableColumn="apellidos">Apellidos <p-sortIcon field="apellidos"></p-sortIcon></th>
                    <th pSortableColumn="nombres">Nombres <p-sortIcon field="nombres"></p-sortIcon></th>
                    <th pSortableColumn="codigoExpediente">N° expediente electrónico <p-sortIcon field="codigoExpediente"></p-sortIcon></th>
                    <th pSortableColumn="expedienteFisico">N° expediente físico <p-sortIcon field="expedienteFisico"></p-sortIcon></th>
                    <th>Documento</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-empleado let-i="rowIndex" let-columns="columns">
                  <tr>
                    <td><span class="p-column-title">N°</span>{{ i+1 }}</td>
                    <td><span class="p-column-title">DUI</span>{{ empleado.duiPasaporte }}</td>
                    <td><span class="p-column-title">Apellidos</span>{{ empleado.apellidos }}</td>
                    <td><span class="p-column-title">Nombres</span>{{ empleado.nombres }}</td>
                    <td><span class="p-column-title">N° expediente electrónico</span>{{ empleado.codigoExpediente }}</td>
                    <td><span class="p-column-title">N° expediente físico</span>{{ empleado.expedienteFisico }}</td>
                    <td>
                      <span class="p-column-title">Documento</span><button pButton pRipple type="button" label="Ver documento" icon="pi pi-eye" (click)="verDocumento(empleado)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                    <td>
                      <button pButton pRipple type="button"  icon="pi pi-refresh" (click)="onRestore(empleado.idRegistro)" class="p-button-raised p-button-rounded p-button-outlined p-button-primary"></button>
                    </td>
                </tr>
                </ng-template>
              </p-table>
            </div>
        </div>
    </div>
    </p-panel>
  </section>