<section class="content">
  <p-toast></p-toast>
    <div class="container-fluid">
        <p-panel>
          <div class="row justify-content-center mt-4">
            <div class="col-5">
              <div *ngIf="isSuccess" class="alert alert-success">{{message}}</div>
              <div *ngIf="isError" class="alert alert-error">{{message}}</div>
            </div>
            <div class="col-12" *ngIf="data.CodigoRol == 'U'">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Datos de perfil</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Datos de acceso</button>
                    </li>
                    
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="row">
                            <div class="col-12" >
                                <form [formGroup]="perfilFormGroup">
                                    <mat-card>
                                        <mat-card-header><h3>Datos de la empresa</h3></mat-card-header>
                                        <mat-card-content>
                                            <div class="row my-4">
                                              <div class="col-12">
                                                <h4>Codigo de la empresa en sistema PGR: {{ persona.codigoPersona }}</h4>
                                              </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>NIT</mat-label>
                                                    <input matInput placeholder="NIT" formControlName="NIT" [dropSpecialCharacters]="false" mask="0000-000000-000-0" [showMaskTyped]="false" required>
                                                  </mat-form-field>
                                                </div>
                                              
                                                <div class="col-12 col-md-6">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Nombre comercial</mat-label>
                                                    <input matInput placeholder="Nombre comercial" formControlName="NombreComercial" required>
                                                  </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Razón social</mat-label>
                                                    <input matInput placeholder="Razón social" formControlName="RazonSocial" required>
                                                    </mat-form-field>
                                                </div>
                                            
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Código PGR</mat-label>
                                                    <input matInput placeholder="NRC" pKeyFilter="int" formControlName="codigoPGR">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Tipo de Empresa</mat-label>
                                                    <mat-select formControlName="TipoEmpresa" required placeholder="Tipo de Empresa">
                                                        <mat-option value="R">Privada</mat-option>
                                                        <mat-option value="U">Pública</mat-option>
                                                    </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Imagen del NIT</mat-label>
                                                    <input matInput formControlName="ImagenNIT"  placeholder="Imagen NIT" readonly>
                                                    <app-upload (onUploadFinished)=uploadFinishedNITEmp($event)></app-upload>
                                                    <button pButton (click)="descargarArchivo(persona.imagenNIT)" class="p-button-raised p-button-rounded p-button-outlined p-button-help">Ver documento</button>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                      <mat-label>Correo electrónico empresarial</mat-label>
                                                      <input matInput placeholder="Correo electrónico empresarial" formControlName="MedioContactoPersona">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Teléfono de contacto</mat-label>
                                                    <input matInput placeholder="Teléfono de contacto" [dropSpecialCharacters]="false" mask="0000-0000" [showMaskTyped]="false" formControlName="TelefonoContactoPersona">
                                                  </mat-form-field>
                                              </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Procuraduría donde realiza el pago</mat-label>
                                                    <mat-select placeholder="Seleccione una procuraduria" formControlName="Pagaduria">
                                                      <mat-option *ngFor="let unidad of unidades" [value]="unidad.codigoPagaduria.trim()">
                                                        {{unidad.pagaduria.substring(28)}}
                                                      </mat-option>
                                                    </mat-select>
                                                      <mat-error *ngIf="userFormGroup.get('CodigoPagaduria')?.hasError('required')">
                                                        Seleccione una pagaduría
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="mt-4">
                                        <mat-card-header><h3>Datos del representante legal</h3></mat-card-header>
                                        <mat-card-content>
                                              <div class="row mt-4">
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Primer nombre</mat-label>
                                                    <input matInput placeholder="Nombres" formControlName="Nombre1"
                                                           required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Segundo nombre</mat-label>
                                                    <input matInput placeholder="Nombres" formControlName="Nombre2"
                                                           >
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Tercer nombre</mat-label>
                                                    <input matInput placeholder="Nombres" formControlName="Nombre3"
                                                           >
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Primer apellido</mat-label>
                                                    <input matInput placeholder="Apellidos" formControlName="Apellido1"
                                                           required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Segundo apellido</mat-label>
                                                    <input matInput placeholder="Apellidos" formControlName="Apellido2"
                                                           >
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Apellido de casada</mat-label>
                                                    <input matInput placeholder="Apellidos" formControlName="ApellidoCasada"
                                                           >
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-4 col-12">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                      <mat-label>Número de DUI</mat-label>
                                                      <input matInput placeholder="Número de DUI" mask="00000000-0" [dropSpecialCharacters]="false" [showMaskTyped]="true" formControlName="CodigoNumeroDui">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Fecha de nacimiento</mat-label>
                                                    <input matInput [matDatepicker]="picker" [max]="a" formControlName="FechaNacimiento">
                                                    <mat-hint>DD/MM/YYYY</mat-hint>
                                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field>
                                                </div>
                                            
                                                <div class="col-12 col-md-4">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Sexo</mat-label>
                                                    <mat-select placeholder="Sexo" formControlName="Sexo">
                                                      <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                                                        {{sexo.name}}
                                                      </mat-option>
                                                    </mat-select>
                                                  </mat-form-field>
                                                </div>
                          
                                                
                                                <input type="hidden" formControlName="ConDui">
                                                
                                              </div>
                                              <div class="row justify-content-center">
                                                <div class="col-12">
                                                  <button pButton class="p-button-raised p-button-rounded p-button-outlined p-button-success" (click)="onSubmit()">Guardar</button> | 
                                                  <button routerLink="/dashboard" class="p-button-raised p-button-rounded p-button-outlined p-button-info" pButton >Atrás</button>
                                                </div>
                                              </div>
                                        </mat-card-content>
                                    </mat-card>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="userFormGroup">
                                    <mat-card>
                                        <mat-card-header><h3>Datos de la acceso al sistema</h3></mat-card-header>
                                        <mat-card-content>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Usuario</mat-label>
                                                    <input matInput placeholder="Usuario" formControlName="Username" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Procuraduría donde realiza el pago</mat-label>
                                                    <mat-select placeholder="Seleccione una procuraduria" formControlName="CodigoPagaduria">
                                                      <mat-option *ngFor="let unidad of unidades" [value]="unidad.codigoUnidadOrganizacional.trim()">
                                                        {{unidad.pagaduria.substring(28)}}
                                                      </mat-option>
                                                    </mat-select>
                                                  
                                                      <mat-error *ngIf="userFormGroup.get('CodigoPagaduria')?.hasError('required')">
                                                        Seleccione una pagaduría
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Clave</mat-label>
                                                    <input matInput placeholder="Clave" autocomplete="off" formControlName="Password" type="password" required>
                                                    </mat-form-field>
                                                </div>
                                            
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field class="full-width" appearance="fill">
                                                    <mat-label>Confirmar clave</mat-label>
                                                    <input matInput placeholder="Confirmar clave" autocomplete="off" required=""  formControlName="ConfirmPassword" type="password">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                  <button class="p-button-raised p-button-rounded p-button-outlined p-button-success" pButton (click)="onSubmitPassword()">Guardar</button> | 
                                                  <button routerLink="/dashboard" class="p-button-raised p-button-rounded p-button-outlined p-button-info" pButton >Atrás</button>
                                                </div>
                                            </div>
                                            
                                        </mat-card-content>
                                    </mat-card>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-12" *ngIf="data.CodigoRol != 'U'">
                <form [formGroup]="userFormGroup">
                    <mat-card>
                        <mat-card-header><h3>Datos de la acceso al sistema</h3></mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Usuario</mat-label>
                                    <input type="hidden" formControlName="IdUsuario">
                                    <input *ngIf="cambiarUsuario" matInput placeholder="Usuario" formControlName="Username" required>
                                    <input *ngIf="!cambiarUsuario" matInput placeholder="Usuario" readonly formControlName="Username" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-12 col-md-6">
                                  <mat-form-field class="full-width" appearance="fill">
                                      <mat-label>Procuraduría donde realiza el pago</mat-label>
                                      <mat-select placeholder="Seleccione una procuraduria" formControlName="CodigoPagaduria">
                                        <mat-option *ngFor="let unidad of unidades" [value]="unidad.codigoUnidadOrganizacional.trim()">
                                          {{unidad.pagaduria.substring(28)}}
                                        </mat-option>
                                      </mat-select>
                                      
                                        <mat-error *ngIf="userFormGroup.get('CodigoPagaduria')?.hasError('required')">
                                          Seleccione una pagaduría
                                      </mat-error>
                                    </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Clave</mat-label>
                                        <input matInput placeholder="Clave" formControlName="Password" autocomplete="off" required type="password">
                                        <mat-error *ngIf="userFormGroup.get('Password')?.hasError('passwordStrength')">
                                            {{userFormGroup.get('Password')?.errors['passwordStrength']}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            
                                <div class="col-12 col-md-6">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Confirmar clave</mat-label>
                                        <input matInput placeholder="Confirmar clave" type="password" autocomplete="off" formControlName="ConfirmPassword" required>
                                        <mat-error *ngIf="userFormGroup.controls['ConfirmPassword'].pristine || userFormGroup.controls['ConfirmPassword'].errors?.MatchPassword">La clave confirmada no es igual</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                  <button pButton class="p-button-raised p-button-rounded p-button-outlined p-button-success" pButton (click)="onSubmitPassword()">Guardar</button> | 
                                  <button routerLink="/dashboard" class="p-button-raised p-button-rounded p-button-outlined p-button-info" pButton >Atrás</button>
                                </div>
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                    
                </form>
            </div>
            
            
        </div>
        </p-panel>
    </div>
</section>

