<section class="content">
  <p-toast></p-toast>
  <ng-template #agregarEmpleado let-modal>
    <div class="modal-header modal-lg">
      <h4 class="text-center"><span *ngIf="isCreating; else isEditing">Agregar</span><ng-template #isEditing>Editar</ng-template> empleado</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form class="validate-form" [formGroup]="empleadoForm" (ngSubmit)="isCreating ? onSubmitEmpleado() : editEmpleado()">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Tipo de documento</mat-label>
              <mat-select placeholder="Tipo de documento" formControlName="TipoDocumentoI">
                <mat-option *ngFor="let documento of documentos" [value]="documento.tipoDocumentoI">
                  {{documento.nombreDocumento}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>N° de documento</mat-label>
              <input type="hidden" formControlName="IdPersona">
              <input type="hidden" formControlName="CodigoEmpresa">
              <input matInput formControlName="DuiPasaporte" autocomplete="off" />
              <mat-error *ngIf="empleadoForm.get('DuiPasaporte')?.hasError('required')">
                El DUI o pasaporte es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-2" *ngIf="!editing">
            <button mat-raised-button color="primary" [class.auth-spinner]="loadingDUI"
              class="auth-form-btn" [disabled]="loadingDUI" (click)="validarDui()" type="button">Validar DUI</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Número expediente electrónico (Coloque 0 si no lo conoce)</mat-label>
              <input matInput formControlName="CodigoExpediente" autocomplete="off" pKeyFilter="int" />
              <mat-error *ngIf="empleadoForm.get('CodigoExpediente')?.hasError('required')">
                El número de expediente es requerido (Coloque 0 si no lo conoce)
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Número expediente físico</mat-label>
                <input matInput formControlName="ExpedienteFisico" autocomplete="off"  />
                <mat-error *ngIf="empleadoForm.get('ExpedienteFisico')?.hasError('required')">
                  El número de expediente es requerido
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="isCreating">
          <div class="col-12 col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" [max]="a" formControlName="FechaNacimiento">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select placeholder="Sexo" formControlName="Sexo">
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  {{sexo.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombres empleado</mat-label>
                    <input matInput formControlName="Nombres" autocomplete="off"/>
                    <mat-error *ngIf="empleadoForm.get('Nombres')?.hasError('required')">
                      Nombres del empleado son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos empleado</mat-label>
                    <input matInput formControlName="Apellidos" autocomplete="off"/>
                    <input formControlName="RutaDocumento" type="hidden"  placeholder="Adjunte la orden de descuento" readonly>
                    <mat-error *ngIf="empleadoForm.get('Apellidos')?.hasError('required')">
                        Los apellidos del empleado son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <app-files-upload-dir [Directorio]="carpetaInstaciada" [actualFile]="actualfile"
              (onUploadFinished)=uploadFinished($event) (onDownload)="downloadURLFile()"></app-files-upload-dir>
          </div>
        </div>
        <div class="mt-2">
          <div style="text-align:center">
            <button mat-raised-button color="primary" [class.auth-spinner]="loading"
              class="auth-form-btn" [disabled]="loading || !empleadoForm.valid " type="submit"><span *ngIf="isCreating; else isEditing">Registrar</span><ng-template #isEditing>Actualizar</ng-template></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
</ng-template>
<ng-template #eliminarEmpleado let-modalEliminar>
<div class="modal-header ">
  <h4 class="text-center">Desactivar empleado</h4>
  <button class="close" aria-label="close" type="button" (click)="modalEliminar.dismiss()"><span>&times;</span></button>
</div>
<div class="modal-body">
  <form class="validate-form" [formGroup]="empleadoFormDelete" (ngSubmit)="onDelete()">
    
    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Fecha de cesación</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="FechaCesacion">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="hidden" formControlName="IdRegistro">
        <input formControlName="RutaDocumentoCesado" type="hidden"  placeholder="Adjunte la orden de descuento" readonly>
        <app-files-upload-dir [Directorio]="carpetaInstaciada2" [actualFile]="actualfile2"
          (onUploadFinished)=uploadFinished2($event) (onDownload)="downloadURLFile2()"></app-files-upload-dir>
      </div>
    </div>
    <div class="mt-2">
      <div style="text-align:center">
        <button mat-raised-button color="primary" [class.auth-spinner]="loading"
          class="auth-form-btn" [disabled]="loading || !empleadoFormDelete.valid " type="submit">Eliminar</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer"></div>
</ng-template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Listado de empleados con expendientes</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-12 my-4">
              <button pButton icon="pi pi-plus" pRipple type="button" label="Nuevo empleado" (click)="crearNuevo(agregarEmpleado)"></button>
              <button class="p-button-success mx-4" [loading]="loading" pButton icon="pi pi-refresh" pRipple type="button" label="Actualizar empleados" (click)="actualizarEmpleados()"></button>
          </div>
      </div>
        <div class="row mt-4">
            <div class="col-12">
              <p-table #dt [value]="empleados" [paginator]="true" [loading]="loading" [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 25, 50, 100]"
              [globalFilterFields]="['duiPasaporte', 'nombres','apellidos','codigoExpediente','expedienteFisico']">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                      <i 
                          class="pi pi-search" 
                          style="margin:4px 4px 0 0"> 
                      </i>
                      <input 
                          type="text" 
                          pInputText size="50" 
                          placeholder="Digite el término a buscar"
                          (input)=
          "dt.filterGlobal($any($event.target).value, 'contains')" 
                          style="width:auto" />
                  </div>
              </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>N°</th>
                    <th pSortableColumn="tipoDocumento">Documento <p-sortIcon field="tipoDocumento"></p-sortIcon></th>
                    <th pSortableColumn="duiPasaporte">N° documento <p-sortIcon field="duiPasaporte"></p-sortIcon></th>
                    <th pSortableColumn="apellidos">Apellidos <p-sortIcon field="apellidos"></p-sortIcon></th>
                    <th pSortableColumn="nombres">Nombres <p-sortIcon field="nombres"></p-sortIcon></th>
                    <th pSortableColumn="codigoExpediente">N° expediente electrónico <p-sortIcon field="codigoExpediente"></p-sortIcon></th>
                    <th pSortableColumn="expedienteFisico">N° expediente físico <p-sortIcon field="expedienteFisico"></p-sortIcon></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-empleado let-i="rowIndex">
                  <tr>
                    <td>{{i+1}}</td>
                    <td>{{ empleado.nombreDocumento }}</td>
                    <td>{{ empleado.duiPasaporte }}</td>
                    <td>{{ empleado.apellidos }}</td>
                    <td>{{ empleado.nombres }}</td>
                    <td>{{ empleado.codigoExpediente }}</td>
                    <td>{{ empleado.expedienteFisico }}</td>
                    <td>
                      <button pButton pRipple type="button"  icon="pi pi-pencil" (click)="onEditInit(empleado,agregarEmpleado)" class="p-button-rounded p-button-text"></button>
                      <button pButton pRipple type="button"  icon="pi pi-trash" (click)="onDeleteModal(empleado.idRegistro)" class="p-button-rounded p-button-danger p-button-text"></button>
                    </td>
                </tr>
                </ng-template>
              </p-table>
            </div>
        </div>
    </div>
</section>