<ng-template #clonarPlanilla let-modal>
    <div class="modal-header">
      <h4 class="text-center">Datos de la planilla a crear</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form class="validate-form" [formGroup]="clonarForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Tipo de cuota</mat-label>
              <mat-select formControlName="CodigoTipoCuota">
                  <mat-option selected></mat-option>
                  <mat-option *ngFor="let tipo of tipoCuotas" [value]="tipo.value">{{ tipo.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="clonarForm.get('CodigoTipoCuota')?.hasError('required')">
                Tipo de cuota es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Periodo</mat-label>
              <input type="hidden" formControlName="IdClonar">
              <input matInput autocomplete="off" formControlName="Periodo" [dropSpecialCharacters]="false" mask="00/0000" maxlength="7"/>
              <mat-error *ngIf="clonarForm.get('Periodo')?.hasError('required')">
                Periodo es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Como desea clonar la planilla</mat-label>
              <mat-select (selectionChange)="conMontos()" formControlName="TipoClonar">
                <mat-option selected></mat-option>
                <mat-option [value]="1">Conservar los montos</mat-option>
                <mat-option [value]="0">Colocar valor por defecto a todos</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12" *ngIf="cuotas == 0">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Monto a colocar</mat-label>
              <input matInput autocomplete="off" formControlName="Monto" pKeyFilter="money"/>
              <mat-error *ngIf="clonarForm.get('Monto')?.hasError('required')">
                Monto es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-2">
          <div style="text-align:center">
            <button mat-raised-button color="primary" [class.auth-spinner]="loading"
              class="auth-form-btn" [disabled]="loading || !clonarForm.valid " type="submit">Clonar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
</ng-template>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p-toast></p-toast>
                <h2 class="text-center">Seleccione una planilla que desea clonar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <p-table #myTab [value]="planillas" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="obtenerPlanillas($event)" [totalRecords]="totalRecords">
                      <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i 
                                class="pi pi-search" 
                                style="margin:4px 4px 0 0"> 
                            </i>
                            <input 
                                type="text" 
                                pInputText size="50" 
                                placeholder="No de mandamiento"
                                (input)=
                "myTab.filterGlobal($any($event.target).value, 'contains')" 
                                style="width:auto" />
                        </div>
                    </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="noMandamiento">N° de mandamiento <p-sortIcon field="noMandamiento"></p-sortIcon></th>
                                <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon></th>
                                <th pSortableColumn="codigoTipoCuota">Tipo <p-sortIcon field="codigoTipoCuota"></p-sortIcon></th>
                                <th>Monto planilla</th>
                                <th>Personal en planilla</th>
                                <th>Estado</th>
                                <th>Fecha generación</th>
                                <th>Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-planilla>
                            <tr>
                                <td>{{ planilla.noMandamiento }}</td>
                                <td>{{ planilla.periodo }}</td>
                                <td>{{ buscarTipoCuota(planilla.codigoTipoCuota) }}</td>
                                <td>${{ planilla.monto }}</td>
                                <td>{{ planilla.empleadosEnPlanilla }}</td>
                                <td><p-tag severity="primary" value="{{buscarEstadoPlanilla(planilla.codigoEstado)}}"></p-tag></td>
                                <td>{{ planilla.fechaHoraRegistro | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                                <td>
                                    <p-button (click)="clonar(planilla,clonarPlanilla)" icon="pi pi-copy" styleClass="p-button-warning" label="Clonar planilla"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12">
                    <p-button icon="pi pi-angle-left" routerLink="/dashboard/planillas" label="Atrás"></p-button>
                </div>
            </div>
        </div>
    </div>
</section>

