<ng-template #clonarPlanilla let-modal>
    <div class="modal-header">
      <h4 class="text-center">Datos de la planilla a crear</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form class="validate-form" [formGroup]="clonarForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Periodo</mat-label>
              <input type="hidden" formControlName="IdClonar">
              <input type="hidden" formControlName="CodigoTipoCuota">
              <input matInput formControlName="Periodo" [dropSpecialCharacters]="false" mask="00/0000" maxlength="7"/>
              <mat-error *ngIf="clonarForm.get('Periodo')?.hasError('required')">
                Periodo en requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-2">
          <div style="text-align:center">
            <button mat-raised-button color="primary" [class.auth-spinner]="loading"
              class="auth-form-btn" [disabled]="loading || !clonarForm.valid " type="submit">Clonar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
</ng-template>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p-toast></p-toast>
                <h2>Seleccione una planilla que desea clonar</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <p-table [value]="planillas" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="obtenerPlanillas($event)" [totalRecords]="totalRecords">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>N° de mandamiento</th>
                                <th>Periodo</th>
                                <th>Tipo</th>
                                <th>Monto planilla</th>
                                <th>Personal en planilla</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-planilla>
                            <tr>
                                <td>{{ planilla.noMandamiento }}</td>
                                <td>{{ planilla.periodo }}</td>
                                <td>{{ buscarTipoCuota(planilla.codigoTipoCuota) }}</td>
                                <td>${{ planilla.monto }}</td>
                                <td>{{ planilla.empleadosEnPlanilla }}</td>
                                <td><p-tag severity="primary" value="{{buscarEstadoPlanilla(planilla.codigoEstado)}}"></p-tag></td>
                                <td>
                                    <p-button (click)="clonar(planilla,clonarPlanilla)" icon="pi pi-copy" styleClass="p-button-warning" label="Clonar planilla"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12">
                    <p-button icon="pi pi-angle-left" routerLink="/dashboard/planillas" label="Atrás"></p-button>
                </div>
            </div>
        </div>
    </div>
</section>

